@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  text-decoration: none !important;
}

body {
  margin: 0;
  padding-top: 59px;
  font-family: "Prompt", sans-serif;
}

.btn {
  border-radius: 30px;
}

.btn.uv-primary {
  color: #fff;
  background-color: #375B51;
  border-color: #375B51;
}

.btn.uv-primary:hover, .btn.uv-primary:focus {
  color: #fff;
  background: #243b35;
  border-color: #243b35;
}

.btn.uv-primary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.uv-outline-primary {
  color: #375B51;
  border-color: #375B51;
}

.btn.uv-outline-primary:hover, .btn.uv-outline-primary:focus {
  color: #fff;
  background: #375B51;
  border-color: #375B51;
}

.btn.uv-outline-primary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.uv-secondary {
  color: #fff;
  background-color: #94AA8D;
  border-color: #94AA8D;
}

.btn.uv-secondary:hover, .btn.uv-secondary:focus {
  color: #fff;
  background: #799470;
  border-color: #799470;
}

.btn.uv-secondary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.uv-outline-secondary {
  color: #94AA8D;
  border-color: #94AA8D;
}

.btn.uv-outline-secondary:hover, .btn.uv-outline-secondary:focus {
  color: #fff;
  background: #94AA8D;
  border-color: #94AA8D;
}

.btn.uv-outline-secondary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar.uv-navbar {
  padding-top: 30px;
  height: 50px !important;
  padding-bottom: 30px;
}

.navbar.uv-navbar section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.navbar.uv-navbar .slash {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navbar.uv-navbar .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

.navbar.uv-navbar .nav-link i {
  color: #94AA8D;
  font-size: 18px;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

.navbar.uv-navbar .nav-link i:hover {
  color: #799470;
}

.navbar.uv-navbar .nav-link.text {
  margin-right: 0;
}

.navbar.uv-navbar .navbar-nav {
  height: 100%;
}

.navbar.uv-navbar .navbar-nav .nav-item {
  height: 100%;
}

.navbar.uv-navbar #sidebarMenu {
  overflow-y: auto;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  background: #375B51;
}

.navbar.uv-navbar #sidebarMenu::-webkit-scrollbar {
  width: 0.5em;
}

.navbar.uv-navbar #sidebarMenu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.navbar.uv-navbar #sidebarMenu::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.navbar.uv-navbar .sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 50px;
}

.navbar.uv-navbar .sidebarMenuInner li {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar.uv-navbar .sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.navbar.uv-navbar .sidebarMenuInner li a {
  color: #fff;
  padding: 16px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

.navbar.uv-navbar .sidebarMenuInner li a:hover {
  color: #cccccc;
}

.navbar.uv-navbar input[type="checkbox"]:checked ~ #sidebarMenu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navbar.uv-navbar input[type="checkbox"] {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}

.navbar.uv-navbar .sidebarIconToggle {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 17px;
  left: 16px;
  height: 22px;
  width: 22px;
}

.navbar.uv-navbar .spinner {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #94AA8D;
}

.navbar.uv-navbar .horizontal {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.navbar.uv-navbar .diagonal.part-1 {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}

.navbar.uv-navbar .diagonal.part-2 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.navbar.uv-navbar input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
}

.navbar.uv-navbar input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-top: 8px;
}

.navbar.uv-navbar input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-top: -9px;
}

.has-search {
  margin-bottom: 0px;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

.has-search .form-control {
  padding-left: 2.375rem;
  border-radius: 30px;
  height: 100%;
  background: rgba(148, 170, 141, 0.04) !important;
  border: 1px solid #E9E9E9 !important;
}

.has-search .icon-search {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #4D4D45;
}

.opensearch {
  cursor: pointer;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1599;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 56px;
  right: 35px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  color: #fff;
  float: left;
  width: 20%;
  padding: 15px;
  background: #375B51;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}

.main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.2em 0 1.2em 0;
}

.main-logo img {
  width: 100%;
  max-width: 400px;
}

.nav-secondary {
  top: 60px;
  background-color: #94AA8D;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-secondary.scroll {
  -webkit-box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
          box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
}

.nav-secondary.home {
  background-color: #fff;
}

.nav-secondary.home li a.anormal {
  color: #2e2e2e !important;
}

.nav-secondary .menu2 {
  width: 100%;
  margin-left: 70px;
  margin-right: 59px;
}

@media only screen and (min-width: 768px) {
  .nav-secondary .menu2 {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .nav-secondary .menu2 {
    max-width: 984px;
    margin-left: 7px;
    margin-right: 7px;
  }
}

@media only screen and (min-width: 1200px) {
  .nav-secondary .menu2 {
    max-width: 1190px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

.nav-secondary ul.uv2-nav {
  overflow: auto !important;
  display: table;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}

.nav-secondary ul.uv2-nav li {
  display: table-cell;
}

.nav-secondary ul.uv2-nav li a.anormal {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

.nav-secondary ul.uv2-nav li a.anormal:hover {
  background-color: #375b514d;
}

.nav-secondary .active {
  background-color: #375b514d;
}

/********************* footer **********************/
footer {
  margin-top: 4em;
  padding: 2rem;
  background-color: #375B51;
}

footer ul.list {
  display: table;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

footer li {
  display: table-cell;
}

footer ul.list li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

footer ul.list li a:hover {
  text-decoration: none;
  background-color: #94AA8D;
}

footer ul.list li:not(:last-child) {
  border-right: 1px solid #fff;
}

footer span.company {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  footer li {
    display: table-row;
  }
}

.header-slide {
  width: 100%;
  height: 100%;
}

.header-slide .carousel-indicators {
  bottom: -70px;
}

.header-slide .carousel-inner {
  margin-bottom: 70px;
}

.header-slide .carousel-item img {
  width: 100%;
  height: auto;
}

.header-slide .carousel-indicators-round {
  width: 14px !important;
  height: 14px !important;
  border-radius: 100% !important;
  background-color: #c4c4c4;
}

.header-slide .carousel-indicators-round.active {
  background-color: #303030;
}

.prod-slide .carousel,
.news-slide .carousel, .promotion-slide .carousel {
  margin: 50px auto;
  padding: 0 0px;
}

.prod-slide .carousel .carousel-item,
.news-slide .carousel .carousel-item, .promotion-slide .carousel .carousel-item {
  min-height: 330px;
  text-align: center;
  overflow: hidden;
}

.prod-slide .carousel .carousel-item h4,
.news-slide .carousel .carousel-item h4, .promotion-slide .carousel .carousel-item h4 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 6px;
}

.prod-slide .carousel .carousel-item .btn i,
.news-slide .carousel .carousel-item .btn i, .promotion-slide .carousel .carousel-item .btn i {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}

.prod-slide .carousel-control-prev,
.news-slide .carousel-control-prev, .promotion-slide .carousel-control-prev {
  left: -55px;
}

.prod-slide .carousel-control-next,
.news-slide .carousel-control-next, .promotion-slide .carousel-control-next {
  right: -55px;
}

.prod-slide .carousel-control-prev,
.prod-slide .carousel-control-next,
.news-slide .carousel-control-prev,
.news-slide .carousel-control-next, .promotion-slide .carousel-control-prev,
.promotion-slide .carousel-control-next {
  height: 66px;
  width: 44px;
  background: none;
  margin: auto 0;
  background: rgba(55, 91, 81, 0.3);
}

.prod-slide .carousel-control-prev.in-promote,
.prod-slide .carousel-control-next.in-promote,
.news-slide .carousel-control-prev.in-promote,
.news-slide .carousel-control-next.in-promote, .promotion-slide .carousel-control-prev.in-promote,
.promotion-slide .carousel-control-next.in-promote {
  margin: 100px 0;
}

.prod-slide .carousel-control-prev i,
.prod-slide .carousel-control-next i,
.news-slide .carousel-control-prev i,
.news-slide .carousel-control-next i, .promotion-slide .carousel-control-prev i,
.promotion-slide .carousel-control-next i {
  font-size: 30px;
  position: absolute;
  top: 50%;
  display: inline-block;
  margin: -16px 0 0 0;
  z-index: 5;
  left: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: none;
  font-weight: bold;
}

.prod-slide .carousel-control-prev i,
.news-slide .carousel-control-prev i, .promotion-slide .carousel-control-prev i {
  margin-left: -3px;
}

.prod-slide .carousel-control-next i,
.news-slide .carousel-control-next i, .promotion-slide .carousel-control-next i {
  margin-right: -3px;
}

.prod-slide .carousel .item-price,
.news-slide .carousel .item-price, .promotion-slide .carousel .item-price {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: #fff;
}

.prod-slide .carousel .carousel-indicators,
.news-slide .carousel .carousel-indicators, .promotion-slide .carousel .carousel-indicators {
  bottom: -50px;
}

.prod-slide .carousel-indicators li,
.prod-slide .carousel-indicators li.active,
.news-slide .carousel-indicators li,
.news-slide .carousel-indicators li.active, .promotion-slide .carousel-indicators li,
.promotion-slide .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 50%;
  border-color: transparent;
  border: none;
}

.prod-slide .carousel-indicators li,
.news-slide .carousel-indicators li, .promotion-slide .carousel-indicators li {
  background: rgba(0, 0, 0, 0.2);
}

.prod-slide .carousel-indicators li.active,
.news-slide .carousel-indicators li.active, .promotion-slide .carousel-indicators li.active {
  background: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 756px) {
  .prod-slide .carousel,
  .news-slide .carousel, .promotion-slide .carousel {
    margin: 50px 0px 50px 0px;
    padding: 0 0px;
  }
  .prod-slide .carousel-control-prev,
  .prod-slide .carousel-control-next,
  .news-slide .carousel-control-prev,
  .news-slide .carousel-control-next, .promotion-slide .carousel-control-prev,
  .promotion-slide .carousel-control-next {
    width: 25px;
    background: rgba(14, 51, 41, 0.712);
  }
  .prod-slide .carousel-control-prev,
  .news-slide .carousel-control-prev, .promotion-slide .carousel-control-prev {
    left: -30px;
  }
  .prod-slide .carousel-control-next,
  .news-slide .carousel-control-next, .promotion-slide .carousel-control-next {
    right: -30px;
  }
}

@media only screen and (max-width: 600px) {
  .prod-slide .carousel-control-prev,
  .prod-slide .carousel-control-next,
  .news-slide .carousel-control-prev,
  .news-slide .carousel-control-next, .promotion-slide .carousel-control-prev,
  .promotion-slide .carousel-control-next {
    width: 20px;
    background: rgba(14, 51, 41, 0.712);
  }
  .prod-slide .carousel-control-prev img,
  .prod-slide .carousel-control-next img,
  .news-slide .carousel-control-prev img,
  .news-slide .carousel-control-next img, .promotion-slide .carousel-control-prev img,
  .promotion-slide .carousel-control-next img {
    width: 80%;
  }
  .prod-slide .carousel-control-prev,
  .news-slide .carousel-control-prev, .promotion-slide .carousel-control-prev {
    left: 0px;
  }
  .prod-slide .carousel-control-next,
  .news-slide .carousel-control-next, .promotion-slide .carousel-control-next {
    right: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .prod-slide .carousel-control-prev {
    left: 0px;
    top: -135px;
  }
  .prod-slide .carousel-control-next {
    right: 0px;
    top: -135px;
  }
  .news-slide .carousel-control-prev {
    left: 0px;
    bottom: -69px;
  }
  .news-slide .carousel-control-next {
    right: 0px;
    bottom: -69px;
  }
  .promotion-slide .carousel-control-prev {
    left: 0px;
  }
  .promotion-slide .carousel-control-next {
    right: 7px;
  }
}

/********************* prod slide **********************/
.product-uv {
  font-family: "Roboto Slab", serif;
  position: relative;
  z-index: 1;
}

.product-uv .product-img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-perspective: 1500px;
          perspective: 1500px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product-uv .product-img a {
  display: block;
}

.product-uv .product-img img {
  width: 100%;
  height: auto;
}

.product-uv .pic-prod {
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.product-uv .pic-prod:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.product-uv .social {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 3px;
  left: -25%;
  z-index: 1;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.product-uv:hover .social {
  left: 17px;
}

.product-uv .social li a {
  color: #fff;
  text-decoration: none;
  background-color: #333;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  width: 40px;
  margin: 15px 0;
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.product-uv .social li a:hover {
  color: #fff;
  background-color: #94AA8D;
}

.product-uv .product-new-label {
  color: #fff;
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
}

.product-uv .product-content {
  text-align: center;
  padding: 20px 0;
  background-color: #375B51;
}

.product-uv .title {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product-uv .title a {
  color: #333;
}

.product-uv .title a:hover {
  color: #78e08f;
}

.product-uv .rating {
  color: #78e08f;
  font-size: 12px;
  padding: 0;
  margin: 0 0 10px;
  list-style: none;
}

.product-uv .price {
  color: #333;
  font-size: 20px;
  font-family: Lora, serif;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product-uv .price span {
  color: #999;
  font-size: 14px;
  font-weight: 700;
  text-decoration: line-through;
  margin-left: 7px;
  display: inline-block;
}

@media only screen and (max-width: 990px) {
  .product-uv {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 756px) {
  .product-uv {
    margin-bottom: 30px;
  }
  .product-uv .social {
    left: -30%;
  }
}

/********************* hr line **********************/
.uv-hr {
  border-top: 2px solid #94AA8D;
}

.verti {
  border-left: 6px solid green;
  height: 500px;
}

/********************* news section **********************/
.news-slide .news-card {
  text-align: start;
  cursor: pointer;
  padding-bottom: 16px;
}

.news-slide .news-card .card {
  border: none;
}

.news-slide .news-card .card .card-body {
  padding-left: 0px;
  padding-right: 0px;
}

.news-slide .news-card .news-link {
  text-decoration: none;
}

.news-slide .news-card .card-title {
  font-size: 22px;
  color: #5E5E5E;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.news-slide .news-card .card-detail {
  padding-left: 2.5rem;
}

.news-slide .news-card .card-detail h5 {
  font-size: 20px;
  margin-bottom: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  color: #375B51;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.news-slide .news-card .card-detail p {
  font-size: 14px;
  color: #2e2e2e;
  margin-bottom: 0;
}

.news-slide .news-card .icon-right {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #375B51;
  left: -3px;
  top: 87px;
  font-size: 24px !important;
}

@media only screen and (max-width: 756px) {
  .news-slide .news-card .card-title {
    font-size: 16px;
  }
  .news-slide .news-card .card-detail {
    padding-left: 2rem;
  }
  .news-slide .news-card .card-detail span {
    top: 78px;
  }
  .news-slide .news-card .card-detail span img {
    width: 65%;
  }
  .news-slide .news-card .card-detail h5 {
    font-size: 18px;
  }
  .news-slide .news-card .card-detail p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 560px) {
  .news-slide .news-card .card-detail span {
    top: 68px;
  }
}

.news-slide .news-card:not(:last-child) {
  border-right: 2px solid #94AA8D;
}

.news-slide .news-card .card-img {
  overflow: hidden;
  -webkit-perspective: 1500px;
          perspective: 1500px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news-slide .news-card .card-img a {
  display: block;
}

.news-slide .news-card img.news-img {
  width: 100%;
  height: auto;
}

.news-slide .news-card img.news-img {
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.news-slide .news-card:hover .card-detail h5 {
  color: #5d9b8a;
}

.news-slide .news-card:hover .card-title {
  color: #919191;
}

.news-slide .news-card:hover img.news-img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (max-width: 756px) {
  .newspage .news-slide .news-card .card-title {
    font-size: 22px;
  }
  .newspage .news-slide .news-card .card-detail {
    padding-left: 2.5rem;
  }
  .newspage .news-slide .news-card .card-detail span {
    top: 78px;
  }
  .newspage .news-slide .news-card .card-detail span img {
    width: 65%;
  }
  .newspage .news-slide .news-card .card-detail h5 {
    font-size: 20px;
  }
  .newspage .news-slide .news-card .card-detail p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 560px) {
  .newspage .news-slide .news-card .card-detail span {
    top: 68px;
  }
}

#promotionModal .modal-content {
  border-radius: 0;
}

#promotionModal .modal-content .row {
  margin: 0;
}

#promotionModal .modal-content .row .left-side {
  padding: 0;
}

#promotionModal .modal-content .row .left-side img {
  width: 100%;
}

#promotionModal .modal-content .row .right-side {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 2rem;
}

#promotionModal .modal-content .row .right-side p {
  font-size: 20px;
  font-weight: 400;
  color: #2e2e2e;
  margin-bottom: 0;
}

#promotionModal .modal-content .row .right-side h3 {
  color: #616161;
}

#promotionModal .modal-content .row .right-side img {
  width: 100%;
}

#promotionModal .modal-content .close {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1051;
  font-size: 30px;
}

#promotionModal .action-section {
  width: 100%;
  padding: 0 2.25em;
}

@media only screen and (max-width: 767px) {
  #promotionModal .modal-dialog .modal-content .row .left-side img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (min-width: 768px) {
  #promotionModal .modal-dialog {
    max-width: 700px;
  }
  #promotionModal .modal-dialog .modal-content .row .left-side img {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  #promotionModal .modal-dialog {
    max-width: 800px;
  }
  #promotionModal .modal-dialog .modal-content .row .left-side img {
    width: 100%;
  }
}

.breadcrumb {
  background-color: #fff;
  margin-top: 1rem;
  padding-left: 0;
}

.breadcrumb-item, .breadcrumb-item a {
  color: #c4c4c4;
}

.breadcrumb-item.active {
  color: #375B51;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.aboutpage .cover-image {
  width: 100%;
}

.aboutpage .main-title {
  margin: 1.25em 0;
  color: #375B51;
}

.aboutpage .row h3 {
  color: #375B51;
}

.aboutpage .first-row {
  margin-bottom: 2rem;
  color: #5e5e5e;
}

.aboutpage .second-row {
  padding: 3rem 1rem;
  background-color: #f8fff5;
}

.aboutpage .second-row p {
  font-weight: 500;
  color: #2e2e2e;
}

.aboutpage .second-row .user-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutpage .second-row .user-author .user-author-element {
  display: inline-block;
}

.aboutpage .second-row .user-author .user-author-element .author-name {
  color: #375B51;
}

.aboutpage .second-row .user-author .user-author-element span {
  color: #5E5E5E;
}

.aboutpage .third-row {
  padding: 3rem 1rem;
}

.aboutpage .third-row .brand-slide {
  width: 100%;
  height: 100%;
}

.aboutpage .third-row .brand-slide .carousel-indicators {
  bottom: -70px;
}

.aboutpage .third-row .brand-slide .carousel-inner {
  margin-bottom: 70px;
}

.aboutpage .third-row .brand-slide .carousel-item img {
  width: 100%;
  height: auto;
}

.aboutpage .third-row .brand-slide .carousel-indicators-round {
  width: 14px !important;
  height: 14px !important;
  border-radius: 100% !important;
  background-color: #c4c4c4;
}

.aboutpage .third-row .brand-slide .carousel-indicators-round.active {
  background-color: #303030;
}

.servicepage .cover-image {
  width: 100%;
}

.servicepage .main-title {
  margin: 1.25em 0;
  color: #375B51;
}

.servicepage .row .text-service {
  font-size: 42px;
  font-weight: 600;
  margin: 1rem;
}

.servicepage .row h4 {
  font-size: 24px;
  color: #375B51;
}

.servicepage .first-row {
  margin-bottom: 2rem;
  color: #5e5e5e;
}

.servicepage .first-row .left-col .row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.servicepage .first-row .right-col .row {
  height: 100%;
}

.servicepage .first-row .right-col .img-right {
  width: 80%;
}

.servicepage .go-to-shop {
  font-size: 22px;
  font-weight: 500;
  color: #375B51;
}

.servicepage .go-to-link {
  text-decoration: none;
  margin-left: 2rem;
}

.questionpage .title-text {
  color: #375B51;
}

.questionpage .faq-section {
  background: #fdfdfd;
  min-height: 100vh;
  padding: 10vh 0 0;
}

.questionpage .faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}

.questionpage .faq-title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  background: #e91e63;
  bottom: -25px;
  margin-left: -30px;
}

.questionpage .faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.questionpage .faq {
  background: #ffffff;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.questionpage .faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #cee1f8;
}

.questionpage .faq .card .card-header {
  margin-bottom: 1rem;
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #94AA8D;
}

.questionpage .faq .card .card-header:hover {
  background: #375b514d;
  padding-left: 10px;
}

.questionpage .faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.questionpage .faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  border-radius: 100px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.questionpage .faq .card .card-header .faq-title[aria-expanded="false"] .badge::before {
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  content: "\f055";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.questionpage .faq .card .card-header .faq-title[aria-expanded="true"] .badge::before {
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  content: "\f056";
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.questionpage .faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6f8ba4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #f3f8ff;
}

.questionpage .faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .questionpage .faq {
    margin-bottom: 30px;
  }
  .questionpage .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}

.contactpage img {
  width: 100%;
}

.contactpage .row-section {
  margin-bottom: 4rem;
}

.contactpage .title-text {
  color: #375B51;
}

.contactpage .contact-info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding-left: 2rem;
}

.contactpage .contact-info .info-col {
  width: 100%;
}

.contactpage .contact-info span {
  font-size: 24px;
  color: #2e2e2e;
  font-weight: 500;
}

.contactpage .contact-info p {
  font-size: 20px;
  color: #5E5E5E;
  font-weight: 300;
  margin-bottom: 0;
}

.contactpage .contact-info i {
  color: #94AA8D;
  margin-left: -2rem;
  font-size: 20px;
  padding-right: 10px;
}

.contactpage .custom-file-label::after {
  background-color: #375B51 !important;
}

.contactpage .custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "CHOOSE FILE";
  color: #fff;
}

.contactpage .sendbtn {
  font-size: 13px;
  font-weight: 500;
  width: 150px;
}

.uv-btn-link {
  text-decoration: none;
  cursor: pointer;
  color: #94AA8D;
  font-weight: 600;
  font-size: 14px;
}

.uv-btn-link span {
  color: #375B51;
  font-weight: 400;
}

.uv-btn-link:hover {
  text-decoration: none;
  color: #617859;
}

.product-ads .ads-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #94AA8D;
}

.card.card-product {
  border: none !important;
}

.card.card-product .items {
  margin-bottom: 0;
  cursor: pointer;
}

.card.card-product .items.item-name {
  color: #375B51;
  margin-bottom: 2px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card.card-product .items.item-code {
  color: #5E5E5E;
  font-size: 14px;
}

.card.card-product .items.item-price {
  color: #375B51;
  font-size: 18px;
}

.card.card-product .items.sale-price {
  color: #F22828 !important;
  font-weight: 600;
}

.card.card-product .items.sale-price del {
  color: #94AA8D !important;
  font-weight: 300;
}

.card.card-product a {
  text-decoration: none;
}

.image-product {
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.image-product img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.image-product .social {
  width: 100%;
  top: 37%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.image-product .social span {
  font-size: 13px;
  font-weight: 600;
}

.image-product .social img {
  width: 20px;
  height: 20px;
}

.image-product:hover .social {
  opacity: 1;
}

.image-product .social li a {
  width: 100% !important;
  color: #fff;
  text-decoration: none;
  background-color: rgba(55, 91, 81, 0.6);
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  margin: 15px 0;
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.image-product .social li a:hover {
  color: #fff;
  background-color: rgba(55, 91, 81, 0.6);
}

.image-product .product-new-label {
  color: #fff;
  background-color: #375B51;
  padding: 5px 20px;
  border-radius: 20px;
  display: block;
  position: absolute;
  top: 20px;
  right: 32px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.image-product .product-new-label.sale {
  background-color: #F22828 !important;
}

.card.card-product:hover .image-product > img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.card.card-product:hover .items.item-name {
  color: #5d9b8a;
}

@media only screen and (max-width: 600px) {
  .image-product .product-new-label {
    top: 9px;
    right: 16px;
  }
}

.news-header {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-header .title-text {
  color: #375B51;
}

.sort-btn {
  font-size: 14px;
  font-weight: 400;
  padding: 8px 2rem;
}

.sort-btn span img {
  width: 20px;
  height: 20px;
}

.uv-pagination {
  position: absolute;
  padding: 0 20px;
  background: #fff;
}

.uv-pagination .page-item {
  padding: 0 20px;
}

.uv-pagination .page-item .page-link {
  color: #E9E9E9;
}

.uv-pagination .page-item.active .page-link {
  color: #94AA8D;
  background-color: #fff;
}

.uv-pagination .page-item.disabled .page-link {
  background-color: #E9E9E9;
  color: #fff;
}

.uv-pagination .page-item:first-child .page-link {
  border-radius: 50% !important;
}

.uv-pagination .page-item:last-child .page-link {
  border-radius: 50% !important;
}

.uv-pagination .plink {
  border: none !important;
}

.uv-pagination .plink.page-previous {
  background-color: #94AA8D;
}

.uv-pagination .plink.page-previous span {
  color: #fff;
}

.uv-pagination .plink.page-next {
  background-color: #94AA8D;
}

.uv-pagination .plink.page-next span {
  color: #fff;
}

.page-box {
  margin: 3rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-box hr.line {
  margin-top: 0 !important;
  border: 1px solid #bebebe;
  display: block;
  width: 100%;
}

.articlepage img {
  width: 100%;
}

.articlepage .row-section {
  margin-bottom: 4rem;
}

.articlepage .title-texts {
  color: #5E5E5E;
}

.articlepage h5 {
  color: #375B51;
}

.articlepage .article-detail {
  padding-left: 2.5rem;
}

.articlepage .article-detail h5 {
  font-size: 20px;
  margin-bottom: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  color: #375B51;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.articlepage .article-detail p {
  font-size: 14px;
  color: #2e2e2e;
  margin-bottom: 0;
  color: #5E5E5E;
}

.articlepage .article-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #5E5E5E;
}

.articlepage .icon-right {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #375B51;
  left: 9px;
  top: 68px;
  font-size: 24px !important;
}

.promotionpage .ads-header .title-text {
  color: #375B51 !important;
}

.bestsell-col {
  padding: 2rem 0;
  background-color: #94AA8D;
}

.bestsell-col hr.line {
  margin-bottom: 0 !important;
  border: 1px solid #ffffff !important;
}

.bestsell-col .promotion-title {
  margin-bottom: 0;
  position: absolute;
  font-style: italic;
  padding: 10px;
  color: #fff;
  font-size: 600;
  background-color: #94AA8D;
}

.bestsell-col .card.card-product {
  background: none !important;
}

.bestsell-col .card.card-product .items.item-name {
  color: #fff;
  margin-bottom: 2px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.bestsell-col .card.card-product .items.item-code {
  color: #5E5E5E;
  font-size: 14px;
}

.bestsell-col .card.card-product .items.item-price {
  color: #fff;
  font-size: 18px;
}

.productspage .uv-collapse .collapse-box img {
  width: 100%;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}

.productspage .uv-collapse .collapse-box .text-box {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .productspage .uv-collapse .collapse-box .text-box {
    font-size: 16px;
  }
}

.productspage .uv-collapse .ads-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #375B51;
}

.productspage .uv-collapse .ads-header h4 {
  background: #fff;
  padding-right: 1.5rem;
  margin-top: -3px;
  white-space: nowrap;
}

.productspage .uv-collapse .uv-collapse-card {
  border: none;
  padding: 16px;
}

.productspage .uv-collapse .uv-collapse-card img {
  width: 100%;
}

.productspage .uv-collapse .uv-collapse-card .ul-collapse {
  list-style-type: none;
}

.productspage .uv-collapse .uv-collapse-card .ul-collapse a {
  color: #375B51;
  text-decoration: none;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

.productspage .uv-collapse .uv-collapse-card .ul-collapse a:hover {
  color: #6b6b6b;
}

.productspage .uv-collapse .uv-collapse-card .border-left {
  border-left: 2px solid #375B51 !important;
}

.productspage .uv-collapse .coll[aria-expanded="true"] .collapse-box img {
  -webkit-filter: none  !important;
          filter: none  !important;
}

.productspage .uv-collapse .coll[aria-expanded="true"] .collapse-box .text-box {
  opacity: 0;
}

.productListpage .product-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productListpage .product-header img.prodimg {
  width: 150px;
}

.productListpage .product-header button {
  height: 100%;
}

.productDetailpage .products-detail .left-detail .product-slider {
  padding: 0;
}

.productDetailpage .products-detail .left-detail .product-slider #carouselControls {
  margin: 0;
}

.productDetailpage .products-detail .left-detail .product-slider #carouselControls .carousel-inner {
  -webkit-box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.1);
}

.productDetailpage .products-detail .left-detail .product-slider #carouselControls .carousel-inner .carousel-item img {
  height: 300px;
  display: block;
  width: 100%;
}

.productDetailpage .products-detail .left-detail .product-slider #thumbcarousel {
  margin: 12px 0 0;
  padding: 0;
}

.productDetailpage .products-detail .left-detail .product-slider #thumbcarousel .carousel-inner .carousel-item {
  height: 134px;
}

.productDetailpage .products-detail .left-detail .product-slider #thumbcarousel .carousel-item {
  text-align: center;
}

.productDetailpage .products-detail .left-detail .product-slider #thumbcarousel .carousel-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.productDetailpage .products-detail .left-detail .product-slider #thumbcarousel .carousel-item .thumb {
  border: 2px solid #94AA8D;
  width: 100%;
  margin: 0;
  float: left;
}

.productDetailpage .products-detail .left-detail .product-slider #thumbcarousel .carousel-item .cols {
  padding-left: 0;
  padding-right: 0;
}

.productDetailpage .products-detail .left-detail .product-slider #thumbcarousel .carousel-item .cols:not(:last-child) {
  padding-right: 10px;
}

.productDetailpage .products-detail .left-detail .product-slider #thumbcarousel .carousel-item .thumb:hover {
  border-color: #375B51;
}

.productDetailpage .products-detail .left-detail .product-slider #thumbcarousel .carousel-item .thumb.active {
  border-color: #375B51;
}

.productDetailpage .products-detail .left-detail .product-slider #thumbcarousel .carousel-inner .carousel-item img {
  height: 130px;
}

.productDetailpage .products-detail .left-detail .product-slider .carousel-item img {
  -o-object-fit: contain;
     object-fit: contain;
}

.productDetailpage .products-detail .left-detail .carousel-control {
  color: #0284b8;
  text-align: center;
  text-shadow: none;
  font-size: 30px;
  width: 30px;
  height: 30px;
  line-height: 20px;
  top: 23%;
}

.productDetailpage .products-detail .left-detail .carousel-control:hover, .productDetailpage .products-detail .left-detail .carousel-control:focus, .productDetailpage .products-detail .left-detail .carousel-control:active {
  color: #333;
}

.productDetailpage .products-detail .left-detail .carousel-caption, .productDetailpage .products-detail .left-detail .carousel-control .fa {
  font: normal normal normal 30px/26px FontAwesome;
}

.productDetailpage .products-detail .left-detail .carousel-control {
  background-color: rgba(0, 0, 0, 0);
  bottom: auto;
  font-size: 20px;
  left: 0;
  position: absolute;
  top: 30%;
  width: auto;
}

.productDetailpage .products-detail .left-detail .carousel-control-next.right, .productDetailpage .products-detail .left-detail .carousel-control-prev.left {
  background: #375b514d;
  width: 21px;
  height: 32px;
  margin: auto;
}

.productDetailpage .products-detail .left-detail .carousel-control-next.right img, .productDetailpage .products-detail .left-detail .carousel-control-prev.left img {
  width: 17px;
  height: 17px;
}

.productDetailpage .products-detail .left-detail .carousel-control-prev.left {
  margin-left: 7px;
}

.productDetailpage .products-detail .left-detail .carousel-control-next.right {
  margin-right: 7px;
}

.productDetailpage .products-detail .right-detail h3 {
  color: #5E5E5E;
}

.productDetailpage .products-detail .right-detail .review i {
  color: #D1C88F;
}

.productDetailpage .products-detail .right-detail .products-price h3 {
  color: #375B51 !important;
}

.productDetailpage .products-detail .right-detail .products-price p {
  margin: 0;
}

.productDetailpage .products-detail .right-detail .products-quantity {
  position: relative;
}

.productDetailpage .products-detail .right-detail input[type=number]::-webkit-inner-spin-button,
.productDetailpage .products-detail .right-detail input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.productDetailpage .products-detail .right-detail input[type=number] {
  -moz-appearance: textfield;
}

.productDetailpage .products-detail .right-detail .products-quantity > div {
  width: 70px;
}

.productDetailpage .products-detail .right-detail .products-quantity input {
  width: 45px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 16.5px;
  font-size: 20px;
  color: #375B51;
  border: 1px solid #A59734;
  border-radius: 4px;
}

.productDetailpage .products-detail .right-detail .products-quantity .addtocart {
  padding: 12px 2rem;
  font-size: 13px;
  margin-left: 37px !important;
  font-weight: 500;
}

.productDetailpage .products-detail .right-detail .products-quantity input:focus {
  outline: 0;
}

.productDetailpage .products-detail .right-detail .quantity-nav {
  position: absolute;
  height: 53px;
  right: 178px;
  top: -6px;
}

.productDetailpage .products-detail .right-detail .quantity-button {
  position: relative;
  cursor: pointer;
  border-left: none;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.productDetailpage .products-detail .right-detail .quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: none;
}

.productDetailpage .products-detail .right-detail .quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}

.productDetailpage .review-section h3, .productDetailpage .review-section p {
  color: #375B51;
}

.productDetailpage .review-section .sendbtn {
  width: 200px;
  font-size: 13px;
  font-weight: 500;
}

.productDetailpage .review-section .comment-field {
  padding: 16px;
  border: 1px solid #375B51;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.productDetailpage .review-section .comment-field textarea {
  border: none;
  font-size: 13px;
  padding: 8px;
}

.productDetailpage .review-section .comment-field textarea:focus {
  outline: none;
}

.productDetailpage .review-section .comment-field textarea::-webkit-input-placeholder {
  color: #B4B4B4;
}

.productDetailpage .review-section .comment-field textarea:-ms-input-placeholder {
  color: #B4B4B4;
}

.productDetailpage .review-section .comment-field textarea::-ms-input-placeholder {
  color: #B4B4B4;
}

.productDetailpage .review-section .comment-field textarea::placeholder {
  color: #B4B4B4;
}

.productDetailpage .review-section .comment-field .reviewRating {
  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  /* make hover effect work properly in IE */
  /* hide radio inputs */
  /* hide 'none' input from screenreaders */
  /* set icon padding and size */
  /* set default star color */
  /* if any input is checked, make its following siblings grey */
  /* make all stars orange on rating group hover */
  /* make hovered input's following siblings grey on hover */
}

.productDetailpage .review-section .comment-field .reviewRating p {
  margin-bottom: 0;
  color: #375B51;
  padding-left: 8px;
}

.productDetailpage .review-section .comment-field .reviewRating .rating-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.productDetailpage .review-section .comment-field .reviewRating .rating__icon {
  pointer-events: none;
}

.productDetailpage .review-section .comment-field .reviewRating .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

.productDetailpage .review-section .comment-field .reviewRating .rating__input--none {
  display: none;
}

.productDetailpage .review-section .comment-field .reviewRating .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

.productDetailpage .review-section .comment-field .reviewRating .rating__icon--star {
  font-size: 18px;
  color: #D1C88F;
}

.productDetailpage .review-section .comment-field .reviewRating .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

.productDetailpage .review-section .comment-field .reviewRating .rating-group:hover .rating__label .rating__icon--star {
  color: #D1C88F;
}

.productDetailpage .review-section .comment-field .reviewRating .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}

.productDetailpage .review-section .reviewFeatured .reviewer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  border-bottom: 1px solid #C4C4C4;
}

.productDetailpage .review-section .reviewFeatured .reviewer .user-reviewer {
  padding: 0 1rem 0 0;
}

.productDetailpage .review-section .reviewFeatured .reviewer .user-reviewer p {
  white-space: nowrap;
  font-weight: 500;
}

.productDetailpage .review-section .reviewFeatured .reviewer .user-reviewer img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.productDetailpage .review-section .reviewFeatured .reviewer .detail-reviewer .rating i {
  color: #D1C88F;
}

.productDetailpage .review-section .reviewFeatured .reviewer .detail-reviewer p {
  color: #2e2e2e;
}

.productBrandpage .products-brand {
  padding: 1rem 0;
  border-bottom: 1px solid #C4C4C4;
}

.productBrandpage .products-brand .brand-logo img {
  width: 100%;
}

.productBrandpage .products-brand .detail-brand h4 {
  color: #375B51;
}

.productBrandpage .products-brand .detail-brand h4:hover {
  color: #4a7b6d;
}

.productDownloadpage .products-download {
  padding: 2rem 0;
  border-bottom: 1px solid #375B51;
}

.productDownloadpage .products-download .imgbox img {
  width: 100%;
}

.productDownloadpage .products-download .detail-download h4 {
  color: #375B51;
}

.productDownloadpage .products-download .detail-download .gosection {
  padding: 0;
}

.productDownloadpage .products-download .detail-download .gosection span {
  color: #375B51;
  font-weight: 400;
}

.loginpage .left-side img {
  width: 100%;
}

.loginpage .right-side h4 {
  color: #375B51;
  font-weight: 600;
  font-size: 30px;
}

.loginpage .right-side .form-signin {
  width: 100%;
  max-width: 400px;
  margin-top: 2rem;
}

.loginpage .right-side .form-signin label {
  font-size: 14px;
  font-weight: 600;
  color: #375B51;
}

.loginpage .right-side .form-signin label a {
  text-decoration: none;
  color: #5E5E5E;
  font-weight: 400;
}

.loginpage .right-side .form-signin .loginbtn {
  text-align: right;
}

.loginpage .right-side .form-signin .loginbtn button {
  width: 200px;
  font-size: 14px;
  padding: 12px 8px;
}

.loginpage .go-to-regis {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginpage .go-to-regis span a {
  text-decoration: none;
  font-weight: 500;
  color: #375B51;
}

.forgotpasswordpage h3, .resetpasswordpage h3 {
  color: #375B51;
  font-size: 34px;
  font-weight: 700;
}

.forgotpasswordpage .form-signin, .resetpasswordpage .form-signin {
  width: 100%;
}

.forgotpasswordpage .form-signin label, .resetpasswordpage .form-signin label {
  font-size: 14px;
  color: #375B51;
}

.forgotpasswordpage .form-signin .forgotbtn, .resetpasswordpage .form-signin .forgotbtn {
  text-align: center;
  margin-top: 60px;
}

.forgotpasswordpage .form-signin .forgotbtn button, .resetpasswordpage .form-signin .forgotbtn button {
  width: 280px;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 8px;
}

.req {
  color: red;
}

.registerpage .title-div {
  margin-top: 60px;
}

.registerpage .title-div h4 {
  color: #375B51;
  font-weight: 600;
}

.registerpage .title-div p {
  color: #5E5E5E;
}

.registerpage .form-register {
  width: 100%;
}

.registerpage .form-register label {
  color: #375B51;
  font-weight: 500;
}

.registerpage .form-register .createbtn {
  text-align: center;
  margin-top: 60px;
}

.registerpage .form-register .createbtn button {
  width: 290px;
  padding: 12px 8px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.form-group.checking-receive {
  display: block;
  margin-bottom: 15px;
  padding-left: 2rem;
}

.form-group.checking-receive input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group.checking-receive label {
  position: relative;
  color: #5E5E5E !important;
  cursor: pointer;
  font-weight: 400;
}

.form-group.checking-receive label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #cccccc;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 1rem;
  left: -31px;
  top: 0px;
}

.form-group.checking-receive input:checked + label:before {
  background-color: #cccccc;
  border: 2px solid #cccccc;
}

.form-group.checking-receive input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: -22px;
  width: 6px;
  height: 14px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.dropdown-item.active {
  background-color: #94AA8D;
}

.dropdown-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-account span i {
  font-size: 26px;
  color: #5E5E5E;
}

.dropdown-account .btn {
  color: black;
}

.dropdown-account .btn.focus, .dropdown-account .btn:focus {
  outline: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  text-decoration: none;
}

.dropdown-account .btn-link:hover {
  text-decoration: none !important;
}

.myaccountpage .title-text {
  color: #375B51;
}

.myaccountpage .account-detail .left h4 {
  color: #2e2e2e;
}

.myaccountpage .account-detail .left p {
  color: #5E5E5E;
}

.myaccountpage .account-detail .left .changepass {
  color: #A59734;
  text-decoration: none;
  text-transform: uppercase;
}

.myaccountpage .account-detail .right p {
  font-weight: 500;
  margin-bottom: 8px;
}

.myaccountpage .account-detail .right p span {
  font-weight: 300 !important;
}

.myaccountpage .account-detail .edit-btn {
  color: #A59734;
  text-decoration: none;
}

.myaccountpage .account-detail .account-card {
  height: 100%;
  border: none;
  -webkit-box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.1);
}

.myaccountpage .account-detail .account-card h5 {
  color: #375B51;
}

.myaccountpage .go-to-shop {
  width: 270px;
  padding: 10px 8px;
}

.order-history-table {
  -webkit-box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.1);
}

.order-history-table .order-img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  border: 1px solid #858585;
  margin: 0 10px;
}

.order-history-table .table-secondary {
  background: rgba(213, 213, 213, 0.4);
}

.order-history-table .table-secondary th {
  background: rgba(213, 213, 213, 0.4);
  border: none;
}

.order-history-table .table-secondary th {
  font-weight: 500;
  color: #5E5E5E;
}

.order-history-table tbody tr th {
  font-size: 16px;
  font-weight: 400;
  color: #5E5E5E;
  border: none;
}

.order-history-table td.complete {
  color: #A59734;
}

.order-history-table .table thead th {
  vertical-align: top;
}

.order-history-table td {
  padding: .75rem;
  vertical-align: middle;
  font-size: 16px;
  color: #5E5E5E;
  font-weight: 400;
  border: none;
}

.order-history-table td p {
  margin: 0;
}

.order-history-table td.processing p {
  margin: 0;
  color: #94AA8D;
  font-size: 12px;
}

.myaccounteditpage .title-text {
  color: #375B51;
}

.myaccounteditpage .head-contantinfo {
  padding: 16px;
  background: #375B51;
  color: #fff;
  font-size: 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.myaccounteditpage .contantinfo {
  margin: 0;
  padding: 16px;
  border: 1px solid #94AA8D;
}

.myaccounteditpage .contantinfo label {
  color: #375B51;
  font-weight: 500;
}

.myaccounteditpage .go-to-save {
  width: 270px;
  padding: 10px 8px;
}

.text-sec {
  color: #5E5E5E;
  font-weight: 300 !important;
}

.myorderpage .title-text {
  color: #375B51;
}

.myorderpage .header-myorder {
  padding: 16px;
  color: #375B51;
  border: 1px solid #94AA8D;
  margin-bottom: 2rem;
}

.myorderpage .header-myorder h3 {
  font-weight: 400;
}

.myorderpage .header-myorder span {
  font-weight: 500;
}

.myorderpage .header-myorder p {
  margin-bottom: 8px;
  color: #5E5E5E;
}

.myorderpage .detail-myorder h4 {
  color: #375B51;
}

.myorderpage .detail-myorder p {
  font-weight: 500;
  margin-bottom: 8px;
}

.myorderpage .detail-myorder p span {
  font-weight: 300 !important;
}

.myorderpage .order-history-table {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #375B51;
}

.myorderpage .order-history-table .table-secondary > td {
  background: rgba(213, 213, 213, 0.4);
}

.myorderpage .order-history-table .line-total {
  border-top: 1px solid #C4C4C4;
}

.myorderpage .order-history-table .grandtotal {
  font-weight: 500;
}

.myorderpage .gobackorder {
  text-decoration: none;
  color: #94AA8D;
  font-weight: 600;
}

.myorderpage .gobackorder span {
  color: #375B51;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .myorderpage .order-history-table {
    border: none;
  }
}

.paybtn button {
  width: 150px;
}

.dropdown-menu.show {
  padding: 5px;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #94AA8D;
  border-radius: 5px;
}

.cartpage .main-heading {
  font-size: 19px;
  margin-bottom: 20px;
}

.cartpage .table-cart table {
  width: 100%;
}

.cartpage .table-cart thead {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 5px;
}

.cartpage .table-cart .head-table {
  background-color: #94AA8D;
}

.cartpage .table-cart table tbody tr:not(:last-child) {
  border-bottom: 1px solid #C4C4C4;
}

.cartpage .table-cart thead tr th {
  padding: 8px 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

.cartpage .table-cart tr td {
  padding: 40px 0 27px;
  vertical-align: middle;
}

.cartpage .table-cart tr td:nth-child(1) {
  width: 52%;
}

.cartpage .table-cart tr td:nth-child(2) {
  width: 18%;
}

.cartpage .table-cart tr td .img-product {
  width: 130px;
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  line-height: 63px;
}

.cartpage .table-cart tr td .img-product img {
  width: 100%;
}

.cartpage .table-cart tr td .name-product {
  font-size: 18px;
  color: #5E5E5E;
  padding-top: 8px;
  line-height: 24px;
  font-weight: 600;
}

.cartpage .table-cart tr td .name-product p {
  font-weight: 300;
  margin: 0;
}

.cartpage .table-cart tr td .price {
  color: #5E5E5E;
  font-size: 18px;
  font-weight: 300;
}

.cartpage .table-cart tr td .quanlity {
  position: relative;
}

@media only screen and (max-width: 600px) {
  .cartpage .table-cart tr td:nth-child(1) {
    width: 37%;
  }
  .cartpage .table-cart tr td:nth-child(2) {
    width: 13%;
  }
  .cartpage .table-cart tr td:nth-child(4) {
    padding-right: 5px;
  }
  .cartpage .table-cart tr td .img-product {
    width: 110px;
  }
  .cartpage .table-cart tr td .name-product {
    font-size: 16px;
  }
}

.cartpage .product-count #myform {
  padding: 5px;
  margin: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: center;
}

.cartpage .product-count .qty {
  width: 34px;
  height: 34px;
  text-align: center;
  border: 1px solid #A59734;
  border-radius: 4px;
  color: #375B51;
  font-size: 14px;
  font-weight: 400;
}

.cartpage .product-count input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.cartpage .product-count input[type=number]::-webkit-inner-spin-button,
.cartpage .product-count input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.cartpage .product-count .quantity-button {
  width: 34px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #375B51;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.cartpage .count-inlineflex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: solid 2px #ccc;
  border-radius: 20px;
}

.cartpage .total {
  font-size: 18px;
  color: #5E5E5E;
  font-weight: 300;
}

.cartpage .display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cartpage .align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartpage input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cartpage .round-black-btn {
  border-radius: 25px;
  background: #212529;
  color: #fff;
  padding: 8px 35px;
  display: inline-block;
  border: solid 2px #212529;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  cursor: pointer;
}

.cartpage .round-black-btn:hover,
.cartpage .round-black-btn:focus {
  background: transparent;
  color: #212529;
  text-decoration: none;
}

.cart-totals {
  border-radius: 3px;
  padding: 0 1rem 1rem 1rem;
}

.cart-totals p {
  font-size: 16px;
  color: #5E5E5E;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 0;
}

.cart-totals h3 {
  font-size: 20px;
  color: #375B51;
  letter-spacing: 1px;
  font-weight: 500;
}

.hr-line {
  border-top: 1px solid #C4C4C4;
}

.cart-totals table {
  width: 100%;
}

.cart-totals table tr th,
.cart-totals table tr td {
  width: 50%;
  padding: 3px 0;
  vertical-align: middle;
}

.cart-totals table tr td:last-child {
  text-align: right;
}

.cart-totals table tr td.subtotal-label {
  font-size: 20px;
  font-weight: 400;
  color: #5E5E5E;
}

.cart-totals table tr td.subtotal {
  font-size: 20px;
  font-weight: 400;
  color: #375B51;
}

.cart-totals table tr td.shipping-label {
  font-size: 18px;
  font-weight: 300;
  color: #5E5E5E;
}

.cart-totals table tr td.free-shipping {
  font-size: 18px;
  font-weight: 300;
  color: #375B51;
}

.line-hr {
  border-bottom: 1px solid #C4C4C4;
}

.cart-totals table tr.total-row td {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: #5E5E5E;
}

.cart-totals table tr td.price-total {
  font-size: 20px;
  font-weight: 400;
  color: #375B51;
}

.btn-cart-totals {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.btn-cart-totals .btn {
  width: 100%;
  margin: 5px 0;
  font-size: 18px;
}

.form-control {
  font-size: 18px;
  background: rgba(213, 213, 213, 0.21);
  border: 1px solid #94AA8D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #C4C4C4;
  color: #4D4D45;
}

.input-form label {
  font-size: 18px;
  color: #375B51;
  font-weight: 500;
}

.input-form .select-op {
  background-color: #375B51;
  color: #fff;
}

.paymentpage .date-derivery {
  color: #375B51;
  font-weight: 300;
}

.paymentpage .date-derivery span {
  font-weight: 400;
}

.paymentpage .head-title {
  color: #375B51;
  font-weight: 400;
}

.paymentpage .other-pay .btn-link {
  color: #5E5E5E;
  font-weight: 300;
  font-size: 24px;
  text-decoration: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin-bottom: .5rem;
  padding: 0;
  line-height: 1.2;
}

.paymentpage .other-pay .btn-link[aria-expanded="false"]::after {
  font-family: "Font Awesome 5 Free";
  font-size: 24px;
  font-weight: 900;
  content: "\f078";
}

.paymentpage .other-pay .btn-link[aria-expanded="true"]::after {
  font-family: "Font Awesome 5 Free";
  font-size: 24px;
  font-weight: 900;
  content: "\f077";
}

.paymentpage .uv-check .bank {
  margin-top: 1rem;
}

.paymentpage .uv-check .bank .logo-bank img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.paymentpage .uv-check .bank .detail-bank p {
  color: #5E5E5E;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.paymentpage .uv-check [type="radio"]:checked,
.paymentpage .uv-check [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.paymentpage .uv-check [type="radio"]:checked + label,
.paymentpage .uv-check [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

.paymentpage .uv-check [type="radio"]:checked + label:before,
.paymentpage .uv-check [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

.paymentpage .uv-check [type="radio"]:checked + label:after,
.paymentpage .uv-check [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #375B51;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.paymentpage .uv-check [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.paymentpage .uv-check [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.paymentpage .uv-check label {
  font-size: 18px;
  font-weight: 400;
  color: #5E5E5E;
}

.paymentpage .validate-credit {
  position: absolute;
  width: 28px;
  right: 16px;
  top: 50px;
}

.paymentpage .input-form.grey .form-control {
  background: #E5E5E5;
  border: 1px solid #E5E5E5;
}

.paymentpage .input-form.dark-grey .form-control {
  background: #C4C4C4;
  border: 1px solid #C4C4C4;
}

.payment-uploadpage .payup-head {
  background-color: #94AA8D;
  padding: 10px 50px 10px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.payment-uploadpage .payup-head .pay-title {
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  margin: 0;
}

.payment-uploadpage .payup-head .pay-price {
  font-weight: 400;
  color: #fff;
  font-size: 24px;
  margin: 0;
}

.payment-uploadpage .upload-card {
  margin: 18px 0;
  border: 1px solid #375B51;
}

.payment-uploadpage .upload-card .dropzone {
  border: none;
}

.payment-uploadpage .upload-card .dropzone .dz-message span {
  color: #5E5E5E;
  font-weight: 400;
  font-size: 14px;
}

.payment-uploadpage .upload-card .dropzone .dz-message .box {
  width: 84px;
  height: 84px;
  border-radius: 10px;
  background-color: #94AA8D;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.payment-uploadpage .upload-card .dropzone .dz-message .box .circle-box {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #375B51;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.payment-uploadpage .upload-card .dropzone .dz-message .box .circle-box i {
  font-size: 24px;
  color: #fff;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.payment-uploadpage .upload-text {
  font-size: 18px;
  margin: 0;
  color: #375B51;
  font-weight: 400;
}

.payment-successpage .row-card {
  margin: 4rem;
}

@media only screen and (max-width: 600px) {
  .payment-successpage .row-card {
    margin: .5rem;
  }
}

.payment-successpage .success-card {
  padding: 2rem;
  text-align: center;
}

.payment-successpage .success-card .pay-img {
  width: 100px;
  margin: auto;
}

.payment-successpage .success-card .pay-title {
  color: #375B51;
  font-weight: 800;
  font-size: 30px;
  margin: 0;
  margin-top: 2rem;
}

.payment-successpage .success-card .pay-text {
  color: #375B51;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  margin-top: 1rem;
}

.payment-successpage .success-card .pay-text span a {
  text-decoration: none;
  color: #375B51;
  font-weight: 600;
}

.payment-successpage .success-card .pay-number {
  color: #375B51;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  margin-top: 3rem;
}

.payment-successpage .success-card .pay-number span {
  color: #a59734;
}

.payment-successpage .back-btn-col {
  margin-top: 40px;
}

.payment-successpage .back-btn {
  padding: 10px 8px;
  width: 299px;
}

.arrow-panel {
  position: absolute;
  cursor: pointer;
  height: 66px;
  width: 44px;
  margin: auto 0;
  background: rgba(55, 91, 81, 0.3);
  z-index: 99;
}

.arrow-prev {
  left: 0px;
  top: 120px;
  margin-left: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-next {
  right: 0px;
  top: 120px;
  margin-right: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prod-slick .slick-list {
  margin-left: -5px;
}

.prod-slick .prod-prod {
  padding-right: 5px;
  padding-left: 5px;
}

.prod-slick .prod-image {
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.prod-slick .prod-image a {
  display: block;
}

.prod-slick .prod-image .prod-pic {
  width: 100%;
  height: 100%;
}

.prod-slick .prod-content {
  text-align: center;
  padding: 20px 0;
  margin-top: 10px;
  background-color: #375B51;
}

.prod-slick .prod-content h4 {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 6px;
}

.prod-slick .prod-content .item-price {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .prod-slick .arrow-panel {
    width: 25px;
  }
  .prod-slick .arrow-prev {
    top: 76px;
    margin-left: 0px !important;
  }
  .prod-slick .arrow-next {
    top: 76px;
    margin-right: 0px !important;
  }
  .prod-slick .prod-image {
    max-height: 200px;
  }
}

@media only screen and (min-width: 601px) {
  .prod-slick .arrow-prev {
    top: 90px;
  }
  .prod-slick .arrow-next {
    top: 90px;
  }
}

@media only screen and (min-width: 991px) {
  .prod-slick .arrow-prev {
    top: 160px;
  }
  .prod-slick .arrow-next {
    top: 160px;
  }
}

@media only screen and (max-width: 460px) {
  .prod-slick .arrow-prev {
    top: 40px;
  }
  .prod-slick .arrow-next {
    top: 40px;
  }
}

.prod-slick .slick-track .news-news:not(:last-child) {
  border-right: 2px solid #94AA8D;
}

.prod-slick .news-news {
  text-align: start;
  cursor: pointer;
  padding-bottom: 16px;
  padding: 10px;
}

.prod-slick .news-news .card {
  border: none;
}

.prod-slick .news-news .card .card-body {
  padding-left: 0px;
  padding-right: 0px;
}

.prod-slick .news-news .news-link {
  text-decoration: none;
}

.prod-slick .news-news .card-title {
  font-size: 22px;
  color: #5E5E5E;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.prod-slick .news-news .card-detail {
  padding-left: 2.5rem;
}

.prod-slick .news-news .card-detail h5 {
  font-size: 20px;
  margin-bottom: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  color: #375B51;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.prod-slick .news-news .card-detail p {
  font-size: 14px;
  color: #2e2e2e;
  margin-bottom: 0;
}

.prod-slick .news-news .icon-right {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #375B51;
  left: 3px;
  top: 90px;
  font-size: 24px !important;
}

@media only screen and (max-width: 756px) {
  .prod-slick .news-news .card-title {
    font-size: 16px;
  }
  .prod-slick .news-news .card-detail {
    padding-left: 2rem;
  }
  .prod-slick .news-news .card-detail span {
    top: 75px;
    left: 3px;
  }
  .prod-slick .news-news .card-detail span img {
    width: 65%;
  }
  .prod-slick .news-news .card-detail h5 {
    font-size: 18px;
  }
  .prod-slick .news-news .card-detail p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 560px) {
  .prod-slick .news-news .card-detail span {
    top: 77px;
  }
}

.prod-slick .news-news .news-card .card-img {
  overflow: hidden;
  -webkit-perspective: 1500px;
          perspective: 1500px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.prod-slick .news-news .news-card .card-img a {
  display: block;
}

.prod-slick .news-news .news-card img.news-img {
  width: 100%;
  height: auto;
}

.prod-slick .news-news .news-card img.news-img {
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.prod-slick .news-news .news-card:hover .card-detail h5 {
  color: #5d9b8a;
}

.prod-slick .news-news .news-card:hover .card-title {
  color: #919191;
}

.prod-slick .news-news .news-card:hover img.news-img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (max-width: 700px) {
  .prod-slick .slick-list {
    padding: 0 20% 0 0;
  }
}

.news-slider {
  margin-left: -5px;
}

@media only screen and (max-width: 600px) {
  .news-slide .arrow-panel {
    width: 25px;
  }
  .news-slide .arrow-prev {
    top: 185px !important;
    left: 5px;
    margin-left: 0px !important;
  }
  .news-slide .arrow-next {
    top: 185px !important;
    margin-right: 0px !important;
  }
}

.prod-detail-slider .main-slider-item {
  cursor: pointer;
}

.prod-detail-slider .main-slider-item img {
  margin: auto;
  height: 300px;
}

.prod-detail-slider .nav-slider-item {
  cursor: pointer;
  border: 1px solid #94AA8D;
  margin-right: 5px;
}

.prod-detail-slider .nav-slider-item img {
  margin: auto;
  height: 130px;
}

.prod-detail-slider .nav-slider-item.slick-current {
  border: 1px solid #375B51;
}

.prod-detail-slider .arrow-panel {
  position: absolute;
  cursor: pointer;
  width: 21px;
  height: 32px;
  margin: auto 0;
  background: rgba(55, 91, 81, 0.3);
  z-index: 99;
}

.prod-detail-slider .arrow-panel img {
  width: 17px;
}

.prod-detail-slider .arrow-prev {
  top: 50px;
  left: 55px;
  margin-left: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prod-detail-slider .arrow-next {
  right: 60px;
  top: 55px;
  margin-right: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prod-slick.promotion-slider .slick-slide img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.prod-slick.promotion-slider .arrow-prev {
  top: 78px;
  left: -7px;
}

.prod-slick.promotion-slider .arrow-next {
  right: -7px;
  top: 78px;
}
/*# sourceMappingURL=main.css.map */