@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  a { text-decoration: none !important;}
}
body {
  margin: 0;
  padding-top: 59px;
  font-family: "Prompt", sans-serif;
}



// primary btn and secondary btn //
.btn {
  border-radius: 30px;

  &.uv-primary {
    color: #fff;
    background-color: $uv-primary-color;
    border-color: $uv-primary-color;

    &:hover,
    &:focus {
      color: #fff;
      background: darken($uv-primary-color, 10%);
      border-color: darken($uv-primary-color, 10%);
    }

    &:focus {
      box-shadow: none;
    }
  }

  &.uv-outline-primary {
    color: $uv-primary-color;
    border-color: $uv-primary-color;

    &:hover,
    &:focus {
      color: #fff;
      background: $uv-primary-color;
      border-color: $uv-primary-color;
    }

    &:focus {
      box-shadow: none;
    }
  }

  &.uv-secondary {
    color: #fff;
    background-color: $uv-secondary-color;
    border-color: $uv-secondary-color;

    &:hover,
    &:focus {
      color: #fff;
      background: darken($uv-secondary-color, 10%);
      border-color: darken($uv-secondary-color, 10%);
    }

    &:focus {
      box-shadow: none;
    }
  }

  &.uv-outline-secondary {
    color: $uv-secondary-color;
    border-color: $uv-secondary-color;

    &:hover,
    &:focus {
      color: #fff;
      background: $uv-secondary-color;
      border-color: $uv-secondary-color;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

// first navbar //
.navbar.uv-navbar {
  padding-top: 30px;
  height: 50px !important;
  padding-bottom: 30px;

  section {
    flex-grow: 1;
  }

  .slash {
    align-self: center;
  }
  .nav-link {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    i {
      color: $uv-secondary-color;
      font-size: 18px;
      transition: color 0.15s ease-in-out;

      &:hover {
        color: darken($uv-secondary-color, 10%);
      }
    }
  }
  .nav-link.text {
    margin-right: 0;
  }
  .navbar-nav{
    height: 100%;

    .nav-item{
      height: 100%;
    }
  }

  // hamburger menu //
  #sidebarMenu {
    overflow-y: auto;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: $uv-primary-color;
  }

  #sidebarMenu::-webkit-scrollbar {
      width: 0.5em;
  }
  
  #sidebarMenu::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  
  #sidebarMenu::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

  .sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 50px;
  }
  .sidebarMenuInner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .sidebarMenuInner li span {
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
  }
  .sidebarMenuInner li a {
    color: #fff;
    padding: 16px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    transition: color 0.15s ease-in-out;

    &:hover {
      color: rgb(204, 204, 204);
    }
  }
  input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
  }

  input[type="checkbox"] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
  }
  .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 17px;
    left: 16px;
    height: 22px;
    width: 22px;
  }
  .spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $uv-secondary-color;
  }
  .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  .diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
  }
  .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
  }
  input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
  }
  input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
  }

}

  // search box //
  .has-search {
    margin-bottom: 0px;
    transition: color 0.15s ease-in-out;

    .form-control {
      padding-left: 2.375rem;
      border-radius: 30px;
      height: 100%;
      background: rgba(148, 170, 141, 0.04) !important;
      border: 1px solid #E9E9E9 !important;
    }

    .icon-search {
      position: absolute;
      z-index: 2;
      display: block;
      width: 2.375rem;
      height: 2.375rem;
      line-height: 2.375rem;
      text-align: center;
      pointer-events: none;
      color: #4D4D45;
    }
  }

  .opensearch{
    cursor: pointer;
  }

  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1599;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
  
  .overlay-content {
    position: relative;
    top: 20%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 56px;
    right: 35px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }
  
  .overlay .closebtn:hover {
    color: #ccc;
  }
  
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
  }
  
  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
  
  .overlay button {
    color: #fff;
    float: left;
    width: 20%;
    padding: 15px;
    background: $uv-primary-color;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .overlay button:hover {
    background: #bbb;
  }

// main-logo //
.main-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2em 0 1.2em 0;
  img {
    width: 100%;
    max-width: 400px;
  }
}

// second navbar //
.nav-secondary {
  top: 60px;
  background-color: $uv-secondary-color;
  justify-content: center;
  &.scroll {
    box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
  }
  &.home {
    background-color: #fff;

    li a.anormal {
      color: $text-secondary !important;
    }
  }

  .menu2{
    width: 100%;
    margin-left: 70px;
    margin-right: 59px;
  }

  @media only screen and (min-width: 768px) {
    .menu2{
      max-width: 720px;
    }
  }

  @media only screen and (min-width: 992px) {
    .menu2{
      max-width: 984px;
      margin-left: 7px;
      margin-right: 7px;
    }
  }

  @media only screen and (min-width: 1200px) {
    .menu2{
      max-width: 1190px;
      margin-left: 13px;
      margin-right: 13px;
    }
  }

  
 

  ul.uv2-nav {
    overflow: auto !important;
    display: table;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    // background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    li {
      display: table-cell;
    }

    li a.anormal {
      display: block;
      color: white;
      text-align: center;
      // padding: 14px 16px;
      text-decoration: none;
      font-size: 18px;
      font-weight: 300;
      transition: background-color 0.15s ease-in-out;
    }

    li a.anormal:hover {
      background-color: $uv-third-color;
    }
  }

  .active {
    background-color: $uv-third-color;
  }
}

/********************* footer **********************/
footer {
  margin-top: 4em;
  padding: 2rem;
  background-color: $uv-primary-color;

  ul.list {
    display: table;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    display: table-cell;
  }

  ul.list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    transition: background-color 0.15s ease-in-out;
  }

  ul.list li a:hover {
    text-decoration: none;
    background-color: $uv-secondary-color;
  }

  // .active {
  //     background-color: $uv-third-color;
  // }

  ul.list li:not(:last-child) {
    border-right: 1px solid #fff;
  }

  span.company {
    color: #fff;
  }

  @media only screen and (max-width: 600px) {
    li {
      display: table-row;
    }
  }
}

// ===================== Home page ===================== //
// header slide //
.header-slide {
  width: 100%;
  height: 100%;

  .carousel-indicators {
    bottom: -70px;
  }
  .carousel-inner {
    margin-bottom: 70px;
  }

  // .carousel {
  //     height: 300px;
  // }

  // .carousel-inner {
  //     height: 100%;
  // }

  .carousel-item {
    img {
      width: 100%;
      height: auto;
    }
  }

  .carousel-indicators-round {
    width: 14px !important;
    height: 14px !important;
    border-radius: 100% !important;
    background-color: #c4c4c4;

    &.active {
      background-color: #303030;
    }
  }
}

.prod-slide,
.news-slide,.promotion-slide {
  .carousel {
    margin: 50px auto;
    padding: 0 0px;
  }
  .carousel .carousel-item {
    min-height: 330px;
    text-align: center;
    overflow: hidden;
  }

  .carousel .carousel-item h4 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 6px;
  }

  .carousel .carousel-item .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
  }

  .carousel-control-prev {
    left: -55px;
  }
  .carousel-control-next {
    right: -55px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    height: 66px;
    width: 44px;
    background: none;
    margin: auto 0;
    background: rgba(55, 91, 81, 0.3);
  }

  .carousel-control-prev.in-promote,
  .carousel-control-next.in-promote {
    margin: 100px 0;
  }

  
  .carousel-control-prev i,
  .carousel-control-next i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: none;
    font-weight: bold;
  }
  .carousel-control-prev .left-icon {
    
  }
  .carousel-control-prev i {
    margin-left: -3px;
  }
  .carousel-control-next i {
    margin-right: -3px;
  }
  .carousel .item-price {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    color: #fff;
  }

  .carousel .carousel-indicators {
    bottom: -50px;
  }
  .carousel-indicators li,
  .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border-color: transparent;
    border: none;
  }
  .carousel-indicators li {
    background: rgba(0, 0, 0, 0.2);
  }
  .carousel-indicators li.active {
    background: rgba(0, 0, 0, 0.6);
  }

  @media only screen and (max-width: 756px) {
    .carousel {
      margin: 50px 0px 50px 0px;
      padding: 0 0px;
    }

    .carousel-control-prev,
    .carousel-control-next {
      width: 25px;
      background: rgba(14, 51, 41, 0.712);
    }

    .carousel-control-prev {
      left: -30px;
    }
    .carousel-control-next {
      right: -30px;
    }


  }

  @media only screen and (max-width: 600px) {
    .carousel-control-prev,
    .carousel-control-next {
      width: 20px;
      background: rgba(14, 51, 41, 0.712);
      img { width: 80%;}
    }

    .carousel-control-prev {
      left: 0px;
    }
    .carousel-control-next {
      right: 0px;
    }

  }
 
}

@media only screen and (max-width: 600px) {
  .prod-slide{

    .carousel-control-prev {
      left: 0px;
      top: -135px;
    }
    .carousel-control-next {
      right: 0px;
      top: -135px;
    }

  }

  .news-slide{ 
    .carousel-control-prev {
      left: 0px;
      bottom: -69px;
    }
    .carousel-control-next {
      right: 0px;
      bottom: -69px;
    }
  }

  .promotion-slide {
    .carousel-control-prev {
      left: 0px;
    }
    .carousel-control-next {
      right: 7px;
   
    }
  }

}

/********************* prod slide **********************/
.product-uv {
  font-family: "Roboto Slab", serif;
  position: relative;
  z-index: 1;
}
.product-uv .product-img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  perspective: 1500px;
  position: relative;
  transition: all 0.3s ease 0s;
}
.product-uv .product-img a {
  display: block;
}
.product-uv .product-img img {
  width: 100%;
  height: auto;
}
.product-uv .pic-prod {
  transition: all 0.5s ease-out 0s;
}
.product-uv .pic-prod:hover {
  transform: scale(1.2);
}
.product-uv .social {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 3px;
  left: -25%;
  z-index: 1;
  transition: all 0.5s ease 0s;
}
.product-uv:hover .social {
  left: 17px;
}
.product-uv .social li a {
  color: #fff;
  text-decoration: none;
  background-color: #333;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  width: 40px;
  margin: 15px 0;
  border-radius: 50%;
  display: block;
  transition: all 0.5s ease-in-out;
}
.product-uv .social li a:hover {
  color: #fff;
  background-color: $uv-secondary-color;
}
.product-uv .product-new-label {
  color: #fff;
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
}
.product-uv .product-content {
  text-align: center;
  padding: 20px 0;
  background-color: $uv-primary-color;
}
.product-uv .title {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 10px;
  transition: all 0.3s ease 0s;
}
.product-uv .title a {
  color: #333;
}
.product-uv .title a:hover {
  color: #78e08f;
}
.product-uv .rating {
  color: #78e08f;
  font-size: 12px;
  padding: 0;
  margin: 0 0 10px;
  list-style: none;
}
.product-uv .price {
  color: #333;
  font-size: 20px;
  font-family: Lora, serif;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
  transition: all 0.3s;
}
.product-uv .price span {
  color: #999;
  font-size: 14px;
  font-weight: 700;
  text-decoration: line-through;
  margin-left: 7px;
  display: inline-block;
}
@media only screen and (max-width: 990px) {
  .product-uv {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 756px) {
  .product-uv {
    margin-bottom: 30px;
  }
  .product-uv .social {
    left: -30%;
  }
}


/********************* hr line **********************/
.uv-hr {
  border-top: 2px solid $uv-secondary-color;
}
.verti{
  border-left: 6px solid green;
  height: 500px;
}

/********************* news section **********************/
.news-slide {
  .news-card {
    text-align: start;
    cursor: pointer;
    padding-bottom: 16px;

    .card {
      border: none;

      .card-body{
        padding-left:  0px;
        padding-right: 0px;
      }

    }

   

    .news-link {
      text-decoration: none;
    }
    .card-title {
      font-size: 22px;
      color: $text-title;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
      transition: color 0.3s ease 0s;
    }
    .card-detail {
      padding-left: 2.5rem;

      h5 {
        font-size: 20px;
        margin-bottom: 1px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        -webkit-box-orient: vertical;
        color: $uv-primary-color;
        transition: color 0.3s ease 0s;
      }

      p {
        font-size: 14px;
        color: $text-secondary;
        margin-bottom: 0;
      }
    }

    .icon-right {
      position: absolute;
      z-index: 2;
      display: block;
      width: 2.375rem;
      height: 2.375rem;
      line-height: 2.375rem;
      text-align: center;
      pointer-events: none;
      color: $uv-primary-color;
      left: -3px;
      top: 87px;
      font-size: 24px !important;
    }

    @media only screen and (max-width: 756px) {
      .card-title {
        font-size: 16px;
      }

      .card-detail {
        padding-left: 2rem;
        span { 
          img { width: 65%;}
          top: 78px;
        }
        h5 {
          font-size: 18px;
        }
  
        p {
          font-size: 12px;
        }
      }
    }
    @media only screen and (max-width: 560px) {
      .card-detail {

        span { 
          top: 68px;
        }
      }
    }

  }

  .news-card:not(:last-child) {
    border-right: 2px solid $uv-secondary-color;
  }

  .news-card .card-img {
    overflow: hidden;
    perspective: 1500px;
    position: relative;
    transition: all 0.3s ease 0s;
  }
  .news-card .card-img a {
    display: block;
  }

  .news-card img.news-img {
    width: 100%;
    height: auto;
  }
  .news-card img.news-img {
    transition: all 0.5s ease-out 0s;
  }

  .news-card:hover {
    .card-detail h5 {
      color: lighten($uv-primary-color, 20%);
    }

    .card-title {
      color: lighten($text-title, 20%);
    }

    img.news-img {
      transform: scale(1.2);
    }
  }
}

.newspage{
  @media only screen and (max-width: 756px) {
    .news-slide {
      .news-card {
  
        .card-title {
          font-size: 22px;
        }
      
        .card-detail {
          padding-left: 2.5rem;
          span { 
            img { width: 65%;}
            top: 78px;
          }
          h5 {
            font-size: 20px;
          }
      
          p {
            font-size: 14px;
          }
        }
  
  
      }
    }
    
  }
  @media only screen and (max-width: 560px) {
    .news-slide {
      .news-card {
        
        .card-detail {
      
          span { 
            top: 68px;
          }
        }
        
      }
    }
  }
}

#promotionModal {
  .modal-content {
    border-radius: 0;
  }
  .modal-content .row {
    margin: 0;
  }
  .modal-content .row .left-side {
    padding: 0;
  }
  .modal-content .row .left-side img {
    width: 100%;
  }
  .modal-content .row .right-side {
    display: grid;
    place-items: center;
    padding: 2rem;

    p {
      font-size: 20px;
      font-weight: 400;
      color: $text-secondary;
      margin-bottom: 0;
    }
    h3 {
      color: lighten($text-secondary, 20%);
    }
  }
  .modal-content .row .right-side img {
    width: 100%;
  }

  .modal-content .close {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1051;
    font-size: 30px;
  }

  .action-section {
    width: 100%;
    padding: 0 2.25em;
  }

  @media only screen and (max-width: 767px) {
    .modal-dialog {
      // max-width: 800px;
      .modal-content .row .left-side img {
        height: 200px;
        object-fit: cover;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .modal-dialog {
      max-width: 700px;
      .modal-content .row .left-side img {
        width: 100%;
      }
    }
  }

  @media only screen and (min-width: 992px) {
    .modal-dialog {
      max-width: 800px;
      .modal-content .row .left-side img {
        width: 100%;
      }
    }
  }
}

// *********** breadcrumb *********** //
.breadcrumb {
  background-color: #fff;
  margin-top: 1rem;
  padding-left: 0;
}
.breadcrumb-item,.breadcrumb-item a {
  color: #c4c4c4;
}
.breadcrumb-item.active {
  color: $uv-primary-color;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

// ===================== About page ===================== //
.aboutpage {
  .cover-image {
    width: 100%;
  }

  .main-title {
    margin: 1.25em 0;
    color: $uv-primary-color;
  }

  .row {
    h3 {
      color: $uv-primary-color;
    }
  }

  .first-row {
    margin-bottom: 2rem;
    color: #5e5e5e;
  }

  .second-row {
    padding: 3rem 1rem;
    background-color: #f8fff5;

    p {
      font-weight: 500;
      color: $text-secondary;
    }

    .user-author {
      display: flex;
      align-items: center;
      .user-author-element {
        display: inline-block;

        .author-name {
          color: $uv-primary-color;
        }
        span {
          color: $text-title;
        }
      }
    }
  }

  .third-row {
    padding: 3rem 1rem;

    .brand-slide {
      width: 100%;
      height: 100%;

      .carousel-indicators {
        bottom: -70px;
      }
      .carousel-inner {
        margin-bottom: 70px;
      }

      .carousel-item {
        img {
          width: 100%;
          height: auto;
        }
      }

      .carousel-indicators-round {
        width: 14px !important;
        height: 14px !important;
        border-radius: 100% !important;
        background-color: #c4c4c4;

        &.active {
          background-color: #303030;
        }
      }
    }
  }
}

// ===================== Service page ===================== //
.servicepage {
  .cover-image {
    width: 100%;
  }

  .main-title {
    margin: 1.25em 0;
    color: $uv-primary-color;
  }

  .row {
    .text-service {
      font-size: 42px;
      font-weight: 600;
      margin: 1rem;
    }
    h4 {
      font-size: 24px;
      color: $uv-primary-color;
    }
  }

  .first-row {
    margin-bottom: 2rem;
    color: #5e5e5e;

    .left-col .row {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
    }

    .right-col .row {
      height: 100%;
    }

    .left-col {
    }

    .right-col {
      .img-right {
        width: 80%;
      }
    }
  }

  .go-to-shop{
    font-size: 22px;
    font-weight: 500;
    color: $uv-primary-color;
  }

  .go-to-link{
    text-decoration: none;
    margin-left: 2rem;
  }
}

// ===================== question page ===================== //
.questionpage {
  .title-text {
    color: $uv-primary-color;
  }

  .faq-section {
    background: #fdfdfd;
    min-height: 100vh;
    padding: 10vh 0 0;
  }
  .faq-title h2 {
    position: relative;
    margin-bottom: 45px;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
  }
  .faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #e91e63;
    bottom: -25px;
    margin-left: -30px;
  }
  .faq-title p {
    padding: 0 190px;
    margin-bottom: 10px;
  }

  .faq {
    background: #ffffff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
  }

  .faq .card {
    border: none;
    background: none;
    border-bottom: 1px dashed #cee1f8;
  }

  .faq .card .card-header {
    margin-bottom: 1rem;
    padding: 0px;
    border: none;
    background: none;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: $uv-secondary-color;
  }

  .faq .card .card-header:hover {
    background: $uv-third-color;
    padding-left: 10px;
  }
  .faq .card .card-header .faq-title {
    width: 100%;
    text-align: left;
    padding: 0px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none !important;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .faq .card .card-header .faq-title .badge {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 14px;
    float: left;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    // background: $uv-secondary-color;
    color: #fff;
    font-size: 12px;
    margin-right: 20px;
  }

  .faq .card .card-header .faq-title[aria-expanded="false"] .badge::before{
    font-family: "Font Awesome 5 Free"; font-size: 20px;  content: "\f055"; transform: rotate(90deg);
  } 

  .faq .card .card-header .faq-title[aria-expanded="true"] .badge::before{
    font-family: "Font Awesome 5 Free"; font-size: 20px;  content: "\f056"; transform: rotate(180deg); 
  } 

  .faq .card .card-body {
    padding: 30px;
    padding-left: 35px;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #6f8ba4;
    line-height: 28px;
    letter-spacing: 1px;
    border-top: 1px solid #f3f8ff;
  }

  .faq .card .card-body p {
    margin-bottom: 14px;
  }

  @media (max-width: 991px) {
    .faq {
      margin-bottom: 30px;
    }
    .faq .card .card-header .faq-title {
      line-height: 26px;
      margin-top: 10px;
    }
  }
}

// ===================== contact page ===================== //
.contactpage {
  img{ width: 100%;}
  .row-section { margin-bottom: 4rem;}
  .title-text { color: $uv-primary-color;}
  .contact-info{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding-left: 2rem;
    
    .info-col{
      width: 100%;
    }
    span {font-size: 24px; color: $text-secondary; font-weight: 500;}
    p {font-size: 20px; color: $text-title; font-weight: 300; margin-bottom: 0;}
    i {
      color: $uv-secondary-color;
      margin-left: -2rem;
      font-size: 20px;
      padding-right: 10px;
    }
  }
  .custom-file-label::after{
    background-color: $uv-primary-color !important;
  }
  .custom-file-input:lang(en)~.custom-file-label::after {
    content: "CHOOSE FILE";
    color: #fff;
  }
  .sendbtn{
    font-size: 13px;
    font-weight: 500;
    width: 150px;
  }
}

.uv-btn-link{ 
  text-decoration: none; 
  cursor: pointer;
  color: $uv-secondary-color;
  font-weight: 600;
  font-size: 14px;
  span { color: #375B51; font-weight: 400;}

}
.uv-btn-link:hover {
  text-decoration: none;
  color: darken( $uv-secondary-color, 20%);
}

.product-ads{
  .ads-header{
    display: flex;
    border-bottom: 2px solid $uv-secondary-color;
    
  }
}

.card.card-product{
   
  border: none !important;
  .items{ margin-bottom: 0;  cursor: pointer;}
  .items.item-name{color: $uv-primary-color; margin-bottom: 2px;transition: all 0.3s ease 0s;}
  .items.item-code{color: $text-title; font-size: 14px;}
  .items.item-price{color: $uv-primary-color; font-size: 18px;}

  .items.sale-price{ 
    color:  #F22828 !important;
    font-weight: 600;
    del{ color: $uv-secondary-color !important; font-weight: 300;} 
  }
  a { text-decoration: none;}
}
.image-product {
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease 0s;
  img{
    transition: all 0.3s ease 0s;
  }
}

.image-product .social {
  width: 100%;
  top: 37%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  // bottom: -40%;
  // left: -20%;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s ease 0s;

  span { font-size: 13px; font-weight: 600;}
  img { width: 20px; height: 20px;}
}
.image-product:hover .social {
  opacity: 1;
  // left: 17px;
  // top: 37%;
}
.image-product .social li a {
  width: 100% !important;
  color: #fff;
  text-decoration: none;
  background-color: rgba(55, 91, 81, 0.6);
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  // width: 40px;
  margin: 15px 0;
  // border-radius: 50%;
  display: block;
  transition: all 0.5s ease-in-out;
}
.image-product .social li a:hover {
  color: #fff;
  background-color: rgba(55, 91, 81, 0.6);
}
.image-product .product-new-label {
  color: #fff;
  background-color: $uv-primary-color;
  padding: 5px 20px;
  border-radius: 20px;
  display: block;
  position: absolute;
  top: 20px;
  right: 32px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;

  &.sale{ background-color: #F22828 !important;}
}


.card.card-product:hover {
  .image-product > img {
    transform: scale(1.2);
  }

  .items.item-name { color: lighten($uv-primary-color, 20%);}
}

@media only screen and (max-width: 600px) {
  .image-product .product-new-label {
    top: 9px;
    right: 16px;
  }
}

// ===================== news page ===================== //
.news-header{
  margin-bottom: 2rem;
  display: flex;
  .title-text{ color: $uv-primary-color;}
}
.sort-btn {
  font-size: 14px;
  font-weight: 400;
  padding: 8px 2rem;

  span img { width: 20px; height: 20px;}
}

.uv-pagination{
  position: absolute;
  padding: 0 20px;
  background: #fff;

  .page-item {padding: 0 20px;}
  .page-item .page-link { color:#E9E9E9;}
  .page-item.active .page-link{ color: $uv-secondary-color; background-color: #fff;}
  .page-item.disabled .page-link{background-color: #E9E9E9; color: #fff;}
  .page-item:first-child .page-link{ border-radius: 50% !important;}
  .page-item:last-child .page-link { border-radius: 50% !important;}
  .plink{border: none !important;}
  .plink.page-previous { background-color: $uv-secondary-color;}
  .plink.page-previous span{color: #fff;}
  .plink.page-next {background-color: $uv-secondary-color;}
  .plink.page-next span{color: #fff;}
  // .plink.page-number {}
}

.page-box{
  margin: 3rem 0;
  align-items: center;
  display: flex;
  justify-content: center;
  hr.line{
    margin-top: 0 !important;
    border: 1px solid #bebebe;
    display: block;
    width: 100%;
  }
}

.articlepage {
  img{ width: 100%;}
  .row-section { margin-bottom: 4rem;}
  .title-texts { color: $text-title;}
  h5 { color: $uv-primary-color}
  .article-detail{
    padding-left: 2.5rem;

    h5 {
      font-size: 20px;
      margin-bottom: 1px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* number of lines to show */
      -webkit-box-orient: vertical;
      color: $uv-primary-color;
      transition: color 0.3s ease 0s;
    }

    p {
      font-size: 14px;
      color: $text-secondary;
      margin-bottom: 0;
      color: #5E5E5E;
    }

  }
  .article-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #5E5E5E;
  }

  .icon-right {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: $uv-primary-color;
    left: 9px;
    top: 68px;
    font-size: 24px !important;
  }
}

// ===================== promotion page ===================== //
.promotionpage{
  .ads-header{
    .title-text { color: $uv-primary-color !important;}
  }
}

.bestsell-col{ 
  padding: 2rem 0; 
  background-color: $uv-secondary-color;
  
  hr.line{ margin-bottom: 0 !important;border: 1px solid #ffffff !important;}
  .promotion-title{
    margin-bottom: 0;
    position: absolute;
    font-style: italic;
    padding: 10px;
    color: #fff;
    font-size: 600;
    background-color: $uv-secondary-color;
  }

  .card.card-product{
    background: none !important;
    .items.item-name{color: #fff; margin-bottom: 2px;transition: all 0.3s ease 0s;}
    .items.item-code{color: $text-title; font-size: 14px;}
    .items.item-price{color: #fff; font-size: 18px;}
  }

}

// ===================== products page ===================== //
.productspage{
  .uv-collapse{
    .collapse-box{
      img { 
        width: 100%; 
        filter: brightness(0.6);
        height: 230px;
        object-fit: cover;
      }
      .text-box{
        font-size: 24px;
        color: #fff;
        font-weight: 600;
        transition: all .5s ease;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }

      @media only screen and (max-width: 600px) {
        .text-box{
          font-size: 16px;
        }
      }

    }
    
    .ads-header{
      display: flex;
      color: $uv-primary-color;
      // border-bottom: 2px solid $uv-secondary-color; 
     
      h4 {  
        background: #fff;
        padding-right: 1.5rem; 
        margin-top: -3px;
        white-space: nowrap;
      }
    }

    .uv-collapse-card{
      border: none;
      padding: 16px;
      img { width: 100%;}

      .ul-collapse{
        list-style-type: none;

        a { color: $uv-primary-color; text-decoration: none; transition: color 0.15s ease-in-out;} 
        a:hover { color: #6b6b6b;}
      }

      .border-left {
        border-left: 2px solid $uv-primary-color !important;
      }
    }

    .coll[aria-expanded="true"] .collapse-box{
      img { filter: none  !important;}
      .text-box { opacity: 0; }
    } 
    
  }
} 

// ===================== products list page ===================== //
.productListpage{

    .product-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      img.prodimg {
        width: 150px;
        // top: 282px;
        // position: absolute;
      }
      button { height: 100%;}
    }


  
}
// ===================== products detail page ===================== //
.productDetailpage{
  .products-detail{
    .left-detail {
      .product-slider { padding: 0; }
      .product-slider #carouselControls { margin: 0; }
      .product-slider #carouselControls .carousel-inner{ box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.1); }
      .product-slider #carouselControls .carousel-inner .carousel-item { 
        // justify-content: center;
        // align-items: center;
        // display: flex;
        // float: left;
      }
      .product-slider #carouselControls .carousel-inner .carousel-item img { height: 300px; display: block; width: 100%; }
      .product-slider #thumbcarousel { margin: 12px 0 0; padding: 0; }
      .product-slider #thumbcarousel .carousel-inner .carousel-item{height: 134px;}
      .product-slider #thumbcarousel .carousel-item { text-align: center; }
      .product-slider #thumbcarousel .carousel-item.active { display: flex;align-items: center;justify-content: left; }
      .product-slider #thumbcarousel .carousel-item .thumb { border: 2px solid $uv-secondary-color; width: 100%; margin: 0; float: left;}
      .product-slider #thumbcarousel .carousel-item .cols { padding-left: 0;  padding-right: 0;}
      .product-slider #thumbcarousel .carousel-item .cols:not(:last-child) { padding-right: 10px;  }
      .product-slider #thumbcarousel .carousel-item .thumb:hover { border-color: $uv-primary-color; }
      .product-slider #thumbcarousel .carousel-item .thumb.active { border-color: $uv-primary-color; }
      .product-slider #thumbcarousel .carousel-inner .carousel-item img { height: 130px; }
      .product-slider .carousel-item img { object-fit: contain;}
      .carousel-control { color: #0284b8; text-align: center; text-shadow: none; font-size: 30px; width: 30px; height: 30px; line-height: 20px; top: 23%; }
      .carousel-control:hover, .carousel-control:focus, .carousel-control:active { color: #333; }
      .carousel-caption, .carousel-control .fa { font: normal normal normal 30px/26px FontAwesome; }
      .carousel-control { background-color: rgba(0, 0, 0, 0); bottom: auto; font-size: 20px; left: 0; position: absolute; top: 30%; width: auto; }  
      .carousel-control-next.right, .carousel-control-prev.left { 
        background: $uv-third-color;
        width: 21px;
        height: 32px;
        margin: auto;

        img { 
          width: 17px;
          height: 17px;
        }
      }
      .carousel-control-prev.left {
        margin-left: 7px;
      }
      .carousel-control-next.right {
        margin-right: 7px;
      }
    }
    .right-detail {
      h3 { color: #5E5E5E;}
      .review i{ color: #D1C88F;}
      .products-price{
        h3 { color: $uv-primary-color !important;}
        p { margin: 0;}
      }

      
      .products-quantity {
        position: relative;
      }
      
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button
      {
        -webkit-appearance: none;
        margin: 0;
      }
      
      input[type=number]
      {
        -moz-appearance: textfield;
      }
      .products-quantity > div { width: 70px;}
      .products-quantity input {
        width: 45px;
        height: 42px;
        line-height: 1.65;
        float: left;
        display: block;
        padding: 0;
        margin: 0;
        padding-left: 16.5px;
        font-size: 20px;
        color: $uv-primary-color;
        border: 1px solid #A59734;
        border-radius: 4px;
      }

      .products-quantity .addtocart{
        padding: 12px 2rem;
        font-size: 13px;
        margin-left: 37px !important;
        font-weight: 500;
      }
      
      .products-quantity input:focus {
        outline: 0;
      }
      
      .quantity-nav {
        position: absolute;
        height: 53px;
        right: 178px;
        top: -6px;
      }
      
      .quantity-button {
        position: relative;
        cursor: pointer;
        border-left: none;
        width: 20px;
        text-align: center;
        color: #333;
        font-size: 16px;
        font-family: "Trebuchet MS", Helvetica, sans-serif !important;
        line-height: 1.7;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
      }
      
      .quantity-button.quantity-up {
        position: absolute;
        height: 50%;
        top: 0;
        border-bottom: none;
      }
      
      .quantity-button.quantity-down {
        position: absolute;
        bottom: -1px;
        height: 50%;
      }

    }
  }

  .review-section{
    h3,p { color: $uv-primary-color;}
    .sendbtn {
      width: 200px; 
      font-size: 13px;
      font-weight: 500;
    }
    .comment-field {
      padding: 16px;
      border: 1px solid $uv-primary-color;
      box-sizing: border-box;
      border-radius: 5px;

      textarea{
        // background: #f9f9f9;
        border: none;
        // border-radius: 8px;
        // box-shadow: inset 0 1px 1px #e1e1e1;
        font-size: 13px;
        padding: 8px;
        
        &:focus{
          outline: none;
        }
      }

      textarea::-webkit-input-placeholder {
        color: #B4B4B4;
      }
      
      textarea:-moz-placeholder { /* Firefox 18- */
        color: #B4B4B4;  
      }
      
      textarea::-moz-placeholder {  /* Firefox 19+ */
        color: #B4B4B4;  
      }
      
      textarea:-ms-input-placeholder {
        color: #B4B4B4;  
      }
      
      textarea::placeholder {
        color: #B4B4B4;  
      }

      .reviewRating{
          p {margin-bottom: 0; color: $uv-primary-color;padding-left: 8px;}
          /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
          .rating-group {
            display: inline-flex;
          }
          
          /* make hover effect work properly in IE */
          .rating__icon {
            pointer-events: none;
          }
          
          /* hide radio inputs */
          .rating__input {
           position: absolute !important;
           left: -9999px !important;
          }
          
          /* hide 'none' input from screenreaders */
          .rating__input--none {
            display: none
          }
        
          /* set icon padding and size */
          .rating__label {
            cursor: pointer;
            padding: 0 0.1em;
            font-size: 2rem;
          }
  
          /* set default star color */
          .rating__icon--star {
            font-size: 18px;
            color: #D1C88F;
          }

          /* if any input is checked, make its following siblings grey */
          .rating__input:checked ~ .rating__label .rating__icon--star {
            color: #ddd;
          }
          
          /* make all stars orange on rating group hover */
          .rating-group:hover .rating__label .rating__icon--star {
            color: #D1C88F;
          }
 
          /* make hovered input's following siblings grey on hover */
          .rating__input:hover ~ .rating__label .rating__icon--star {
            color: #ddd;
          }
        
      }
    }

    .reviewFeatured{
      .reviewer {
        display: flex;
        padding: 16px;
        border-bottom: 1px solid #C4C4C4;
        .user-reviewer{
          p { white-space: nowrap; font-weight: 500;}
          padding: 0 1rem 0 0;
          img { width: 80px; height: 80px; border-radius: 50%;margin-bottom: 10px;}
        }
        .detail-reviewer{
          .rating{
            i { color: #D1C88F;}
          }
          p { color: $text-secondary; }
        }
      }
    }
  }
}

// ===================== products brand page ===================== //
.productBrandpage{
  .products-brand{
    padding: 1rem 0;
    border-bottom: 1px solid #C4C4C4;
    .brand-logo{
      img { width: 100%;}
    }
    .detail-brand {
      h4 { color: $uv-primary-color}
      h4:hover { color: lighten($uv-primary-color, 10%);}
    }
  }
}

// ===================== products download page ===================== //
.productDownloadpage{
  .products-download{
    padding: 2rem 0;
    border-bottom: 1px solid $uv-primary-color;
    .imgbox {
      img { width: 100%; }
    }

    .detail-download {
      h4 { color: $uv-primary-color}

      .gosection {
        padding: 0;
        span { color: $uv-primary-color; font-weight: 400;}
      }
    }

  }
}

// ===================== login page ===================== //
.loginpage {
  .left-side { 
    img { width: 100%;}
  }
  .right-side{
    h4 { color: $uv-primary-color; font-weight: 600; font-size: 30px;}
    .form-signin {
      width: 100%;
      max-width: 400px;
      margin-top: 2rem;

      label {
        font-size: 14px;
        font-weight: 600;
        color: $uv-primary-color;

        a {
          text-decoration: none;
          color: #5E5E5E;
          font-weight: 400;
        }
      }

      .loginbtn {
        text-align: right;
        
        button { width: 200px;
          font-size: 14px;
          padding: 12px 8px;
        }
      }
    }
  }

  .go-to-regis{
    justify-content: center;
    align-items: center;

    span a {
      text-decoration: none;
      font-weight: 500;
      color: $uv-primary-color;
    }
  }
}

// ===================== forgot, reset password page ===================== //
.forgotpasswordpage,.resetpasswordpage{
  h3 { color: $uv-primary-color; font-size: 34px; font-weight: 700;}
  .form-signin {
    width: 100%;
    // margin: 3rem 0;
    // max-width: 400px;

    label {
      font-size: 14px;
      color: $uv-primary-color;
    }

    .forgotbtn {
      text-align: center;
      margin-top: 60px;
      button { 
        width: 280px;
        font-size: 14px;
        font-weight: 600;
        padding: 14px 8px;
      }
    }
  }
}

// ===================== register page ===================== //
.req{ color: red;}

.registerpage{
  .title-div { 
    margin-top: 60px;
    h4 { color: $uv-primary-color; font-weight: 600;}
    p { color: #5E5E5E; }
  }
  .form-register{
    width: 100%;
    label {color: $uv-primary-color; font-weight: 500;}
    
    .createbtn {
      text-align: center;
      margin-top: 60px;
      button {
        width: 290px;
        padding: 12px 8px;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
      } 
    }
  }
}

.form-group.checking-receive {
  display: block;
  margin-bottom: 15px;
  padding-left: 2rem;
}

.form-group.checking-receive input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group.checking-receive label {
  position: relative;
  color: #5E5E5E !important;
  cursor: pointer;
  font-weight: 400;
}

.form-group.checking-receive label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #cccccc;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 1rem;
  left: -31px;
  top: 0px;
}

.form-group.checking-receive input:checked + label:before {
  background-color: #cccccc;
  border: 2px solid #cccccc;
}

.form-group.checking-receive input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: -22px;
  width: 6px;
  height: 14px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

// ===================== my account page ===================== //
.dropdown-item.active{
  background-color: $uv-secondary-color;
}

.dropdown-account{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  span i { font-size: 26px; color: $text-title;}
  .btn { color: black;}
  .btn.focus, .btn:focus{
    outline: 0;
    box-shadow: none !important;
    text-decoration: none;
  }
  .btn-link:hover {
    text-decoration: none !important;
  }
}
.myaccountpage{
  .title-text { color: $uv-primary-color;}

  .account-detail{
    
    .left {
      h4 { color: $text-secondary;}
      p { color: $text-title;}
      .changepass {
        color: #A59734;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
    .right {
      p { font-weight: 500; margin-bottom: 8px;}
      p span { font-weight: 300 !important;}
     
    }
    .edit-btn{
      color: #A59734;
      text-decoration: none;
    }

    .account-card {
      height: 100%;
      border: none;
      box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.1);
      h5 { color: $uv-primary-color;}
    }
  }

  .go-to-shop{
    width: 270px;
    padding: 10px 8px;
  }

}
.order-history-table{
  box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.1);
  .order-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 50%;
    border: 1px solid #858585;
    margin: 0 10px;
  }

  .table-secondary { background: rgba(213, 213, 213, 0.4); }
  .table-secondary th { background: rgba(213, 213, 213, 0.4); border: none;}
  .table-secondary th { font-weight: 500; color: #5E5E5E;}
  tbody tr th { font-size: 16px; font-weight: 400; color: #5E5E5E;border: none;}
  td.complete{
    color: #A59734;
  }
  .table thead th{
    vertical-align: top;
  }
  td{
    padding: .75rem;
    vertical-align: middle;
    font-size: 16px;
    color: #5E5E5E;
    font-weight: 400;
    border: none;
    p { margin: 0;}
  }
  td.processing{
    p { margin: 0; color: $uv-secondary-color; font-size: 12px;}
  }
}

// ===================== my account edit page ===================== //
.myaccounteditpage{
  .title-text { color: $uv-primary-color;}
  .head-contantinfo {
    padding: 16px;
    background: $uv-primary-color;
    color: #fff;
    font-size: 16px;
    display: inline-flex;
  }
  .contantinfo{
    margin: 0;
    padding: 16px;
    border: 1px solid #94AA8D;

    label { color: $uv-primary-color; font-weight: 500;}
  }
  .go-to-save {
    width: 270px;
    padding: 10px 8px;
  }
}

// ===================== my order page ===================== //
.text-sec {
  color: #5E5E5E;
  font-weight: 300 !important;
}
.myorderpage{
  .title-text { color: $uv-primary-color;}
  .header-myorder{
    padding: 16px;
    color: $uv-primary-color;
    border: 1px solid #94AA8D;
    h3 { font-weight: 400;}
    span { font-weight: 500;}
    p { margin-bottom: 8px; color: $text-title;}
    margin-bottom: 2rem;
  }
  .detail-myorder{
    h4 { color: $uv-primary-color}
    p { font-weight: 500; margin-bottom: 8px;}
    p span { font-weight: 300 !important;}
  
  }

  .order-history-table{
    box-shadow: none !important;
    border: 1px solid $uv-primary-color;

    .table-secondary>td{
      background: rgba(213, 213, 213, 0.4);
    }

    .line-total {
      border-top: 1px solid #C4C4C4;
    }
    .grandtotal {
      font-weight: 500;
    }
  }

  .gobackorder{
    text-decoration: none;
    color: $uv-secondary-color;
    font-weight: 600;
    span { color: #375B51; font-weight: 400;}
  }

  @media only screen and (max-width: 600px) {
    .order-history-table{
      border: none;
    }
  }

}
.paybtn{
  button { width: 150px;}
}

.dropdown-menu.show{
  padding: 5px;
}

.dropdown-item.active, .dropdown-item:active{
    color: #fff;
    text-decoration: none;
    background-color: $uv-secondary-color;
    border-radius: 5px;

}

// ===================== cart page ===================== //

.cartpage{
  .main-heading {
    font-size: 19px;
    margin-bottom: 20px;
  }
  .table-cart table {
      width: 100%;
  }
  .table-cart thead {
      border-bottom: 1px solid #e5e5e5;
      margin-bottom: 5px;
  }
  .table-cart .head-table{
    background-color: $uv-secondary-color;
  }

  .table-cart table tbody tr:not(:last-child) {
    border-bottom: 1px solid #C4C4C4;
  }

  .table-cart thead tr th {
      padding: 8px 0 ;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
  }
  .table-cart tr td {
      padding: 40px 0 27px;
      vertical-align: middle;
  }
  .table-cart tr td:nth-child(1) {
      width: 52%;
  }
  .table-cart tr td:nth-child(2) {
      width: 18%;
  }
  // .table-cart tr td:nth-child(3) {
  //     width: 13.333%;
  // }
  // .table-cart tr td:nth-child(4) {
  //     width: 8.667%;
  //     text-align: right;
  // }
  .table-cart tr td .img-product {
      width: 130px;
      float: left;
      margin-left: 8px;
      margin-right: 8px;
      line-height: 63px;
  }
  .table-cart tr td .img-product img {
    width: 100%;
  }
  .table-cart tr td .name-product {
      font-size: 18px;
      color: #5E5E5E;
      padding-top: 8px;
      line-height: 24px;
      font-weight: 600;

      p { font-weight: 300; margin: 0;}
  }
  .table-cart tr td .price {
      color: #5E5E5E;
      font-size: 18px;
      font-weight: 300;
  }
  .table-cart tr td .quanlity {
      position: relative;
  }

  @media only screen and (max-width: 600px) {
    .table-cart tr td:nth-child(1) {
      width: 37%;
    }
    .table-cart tr td:nth-child(2) {
      width: 13%;
    }
    .table-cart tr td:nth-child(4) {
      padding-right: 5px;
    }
    .table-cart tr td .img-product {
      width: 110px;
    }
 
    .table-cart tr td .name-product {
      font-size: 16px;
    }
  }

  .product-count {
    #myform {
        // text-align: center;
        padding: 5px;
        margin: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        text-align: center;
    }
    .qty {
        width: 34px;
        height: 34px;
        text-align: center;
        border: 1px solid #A59734;
        border-radius: 4px;
        color: $uv-primary-color;
        font-size: 14px;
        font-weight: 400;
    }
    input[type="number"] {
      -webkit-appearance: textfield;
         -moz-appearance: textfield;
              appearance: textfield;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
    }

    .quantity-button {
      width: 34px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $uv-primary-color;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
    }
   
 
  }

  .count-inlineflex {
    display: inline-flex;
    border: solid 2px #ccc;
    border-radius: 20px;  
  }
  .total {
    font-size: 18px;
    color:  #5E5E5E;
    font-weight: 300;
  }
  .display-flex {
    display: flex;
  }
  .align-center {
    align-items: center;
  }
  
  input:focus {
    outline: none;
    box-shadow: none;
  }
  .round-black-btn {
    border-radius: 25px;
      background: #212529;
      color: #fff;
      padding: 8px 35px;
      display: inline-block;
      border: solid 2px #212529; 
      transition: all 0.5s ease-in-out 0s;
      cursor: pointer;
  }
  .round-black-btn:hover,
  .round-black-btn:focus {
    background: transparent;
    color: #212529;
    text-decoration: none;
  }
}
.cart-totals {
  border-radius: 3px;
  padding: 0 1rem 1rem 1rem;
}
.cart-totals p {
  font-size: 16px;
    color: #5E5E5E;
    letter-spacing: 1px;
    font-weight: 300;
    margin: 0;
}
.cart-totals h3 {
  font-size: 20px;
    color: $uv-primary-color;
    letter-spacing: 1px;
    font-weight: 500;
}

.hr-line{
  border-top: 1px solid #C4C4C4;
}

.cart-totals table {
  width: 100%;
}
.cart-totals table tr th,
.cart-totals table tr td {
  width: 50%;
    padding: 3px 0;
    vertical-align: middle;
}
.cart-totals table tr td:last-child {
  text-align: right;
}

.cart-totals table tr td.subtotal-label {
  font-size: 20px;
  font-weight: 400;
  color: #5E5E5E;
}

.cart-totals table tr td.subtotal {
  font-size: 20px;
  font-weight: 400;
  color: $uv-primary-color;
}

.cart-totals table tr td.shipping-label {
  font-size: 18px;
  font-weight: 300;
  color: #5E5E5E;
}

.cart-totals table tr td.free-shipping {
  font-size: 18px;
  font-weight: 300;
  color: $uv-primary-color;
}

.line-hr {
  border-bottom: 1px solid #C4C4C4;
}

.cart-totals table tr.total-row td {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: #5E5E5E;
}
.cart-totals table tr td.price-total {   
  font-size: 20px;
  font-weight: 400;
  color: $uv-primary-color;
}
.btn-cart-totals {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;

  .btn { width: 100%; margin: 5px 0; font-size: 18px;}
}

.form-control{
  font-size: 18px;
  background: rgba(213, 213, 213, 0.21);
  border: 1px solid #94AA8D;
  box-sizing: border-box;
  border-radius: 5px;
}
.form-control:disabled, .form-control[readonly]{
  background-color: #C4C4C4;
  color: #4D4D45;
}
// ===================== payment page ===================== //

.input-form{
  label { font-size: 18px; color: $uv-primary-color; font-weight: 500;}

  .select-op{
    background-color: $uv-primary-color;
    color: #fff;
  }
}

.paymentpage{
  .date-derivery{
    color: $uv-primary-color;
    font-weight: 300;
    span { font-weight: 400;}
  }
  .head-title{
    color: $uv-primary-color;
    font-weight: 400;
  }



  .other-pay{
    // border-bottom: 1px solid rgba(0,0,0,.1);

    .btn-link{
      color: #5E5E5E;
      font-weight: 300;
      font-size: 24px;
      text-decoration: none;
      box-shadow: none !important;
      margin-bottom: .5rem;
      padding: 0;
      line-height: 1.2
    }
  }

  .other-pay .btn-link[aria-expanded="false"]::after{
    font-family: "Font Awesome 5 Free"; font-size: 24px; font-weight: 900; content: "\f078";
  } 

  .other-pay .btn-link[aria-expanded="true"]::after{
    font-family: "Font Awesome 5 Free"; font-size: 24px; font-weight: 900; content: "\f077";
  } 

  .uv-check{
    
    .bank{
      margin-top: 1rem;
      .logo-bank img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .detail-bank{
        p {color: #5E5E5E; font-size: 16px; font-weight: 300; margin: 0;}
      }
    }

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #666;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 12px;
        height: 12px;
        background: $uv-primary-color;
        position: absolute;
        top: 3px;
        left: 3px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    label { font-size: 18px; font-weight: 400; color: #5E5E5E;}
  }

  .validate-credit{
    position: absolute;
    width: 28px;
    right: 16px;
    top: 50px;
  }

  .input-form.grey .form-control {
    background: #E5E5E5;
    border: 1px solid #E5E5E5;
  }

  
  .input-form.dark-grey .form-control {
    background: #C4C4C4;
    border: 1px solid #C4C4C4;
  }

}

// ===================== payment upload page ===================== //
.payment-uploadpage{
  .payup-head {
    background-color: $uv-secondary-color;
    padding: 10px 50px 10px 30px;
    align-items: center;
    border-radius: 5px;

    .pay-title { font-weight: 400; color: #fff; font-size: 18px;  margin: 0;}
    .pay-price { font-weight: 400; color: #fff; font-size: 24px; margin: 0;}
  }

  .up-col {
    // margin-left: 15px;
  }
  .upload-card {
    margin: 18px 0;
    border: 1px solid $uv-primary-color;

    .dropzone{
      border: none;

      .dz-message{
        span { color: #5E5E5E; font-weight: 400; font-size: 14px;}
        .box{
          width: 84px;
          height: 84px;
          border-radius: 10px;
          background-color: $uv-secondary-color;
          margin: auto;
          display: flex;
          margin-bottom: 1rem;

          .circle-box{
            width: 52px;
            height: 52px;
            border-radius: 50%;
            background-color: $uv-primary-color;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            i { font-size: 24px; color: #fff; transform: rotate(-90deg); }
          }

        }
      }
    }
  }
  .upload-text { font-size: 18px; margin: 0; color: $uv-primary-color; font-weight: 400;}
}

// ===================== payment upload page ===================== //
.payment-successpage{
  .row-card { margin: 4rem;}
  
  @media only screen and (max-width: 600px) {
    .row-card { margin: .5rem;}
  }
  .success-card{
    padding: 2rem;
    text-align: center;

    .pay-img{ width: 100px; margin: auto;}
    .pay-title{ 
      color: $uv-primary-color;
      font-weight: 800;
      font-size: 30px;
      margin: 0;
      margin-top: 2rem;
    }
    .pay-text{
      color: $uv-primary-color;
      font-weight: 300;
      font-size: 18px;
      margin: 0;
      margin-top: 1rem;

      span a {
        text-decoration: none;
        color: $uv-primary-color;
        font-weight: 600;
      }
    }
    .pay-number{
      color: $uv-primary-color;
      font-weight: 300;
      font-size: 18px;
      margin: 0;
      margin-top: 3rem;
      span {
        color: #a59734 ;
      }
    }
    
  }
  
  .back-btn-col {
    margin-top: 40px;
  }
  .back-btn {
    padding: 10px 8px;
    width: 299px;
  }
}

// ===================== new slider ===================== //
.arrow-panel{
  position: absolute;
  cursor: pointer;
  height: 66px;
  width: 44px;
  margin: auto 0;
  background: rgba(55, 91, 81, 0.3);
  z-index: 99;
}
.arrow-prev {
  left: 0px;
  top: 120px;
  margin-left: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-next {
  right: 0px;
  top: 120px;
  margin-right: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.prod-slick{
  .slick-list{
    margin-left: -5px;
    // margin-right: -5px;
  }
  .prod-prod{
    padding-right: 5px;
    padding-left: 5px;
  }

  .prod-image {
    // max-height: 340px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0s;
  }
  .prod-image a {
    display: block;
  }
  .prod-image .prod-pic {
    width: 100%;
    height: 100%;
  }

  .prod-content {
    text-align: center;
    padding: 20px 0;
    margin-top: 10px;
    background-color: $uv-primary-color;
    
    h4 {
      color: #fff;
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 6px;
    }

    .item-price {
      font-size: 18px;
      font-weight: 500;
      margin: 0;
      color: #fff;
    }
  }


  @media only screen and (max-width: 600px) {
    .arrow-panel{
      width: 25px;
    }
    .arrow-prev {
      top: 76px;
      margin-left: 0px !important;
    }
    .arrow-next {
      top: 76px;
      margin-right: 0px !important;
    }
    .prod-image {
      max-height: 200px;
    }
  }

  @media only screen and (min-width: 601px) { 
    .arrow-prev {
      top: 90px;
    }
    .arrow-next {
      top: 90px;
    }
  }
  @media only screen and (min-width: 991px) { 
    .arrow-prev {
      top: 160px;
    }
    .arrow-next {
      top: 160px;
    }
  }

  @media only screen and (max-width: 460px) {

    .arrow-prev {
      top: 40px;
    }
    .arrow-next {
      top: 40px;
    }

  }

  .slick-track .news-news:not(:last-child){
    border-right: 2px solid #94AA8D;
  }
  
  .news-news{
    text-align: start;
    cursor: pointer;
    padding-bottom: 16px;
    padding:10px;
    
      .card {
        border: none;
        
        .card-body{
          padding-left:  0px;
          padding-right: 0px;
        }
  
      }

      .news-link {
        text-decoration: none;
      }
      .card-title {
        font-size: 22px;
        color: $text-title;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        transition: color 0.3s ease 0s;
      }
      .card-detail {
        padding-left: 2.5rem;
  
        h5 {
          font-size: 20px;
          margin-bottom: 1px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1; /* number of lines to show */
          -webkit-box-orient: vertical;
          color: $uv-primary-color;
          transition: color 0.3s ease 0s;
        }
  
        p {
          font-size: 14px;
          color: $text-secondary;
          margin-bottom: 0;
        }
      }
  
      .icon-right {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: $uv-primary-color;
        left: 3px;
        top: 90px;
        font-size: 24px !important;
      }
  
      @media only screen and (max-width: 756px) {
        .card-title {
          font-size: 16px;
        }
  
        .card-detail {
          padding-left: 2rem;
          span { 
            img { width: 65%;}
            top: 75px;
            left: 3px;
          }
          h5 {
            font-size: 18px;
          }
    
          p {
            font-size: 12px;
          }
        }
      }
      @media only screen and (max-width: 560px) {
        .card-detail {
  
          span { 
            top: 77px;
          }
        }
      }
  
    .news-card .card-img {
      overflow: hidden;
      perspective: 1500px;
      position: relative;
      transition: all 0.3s ease 0s;
    }
    .news-card .card-img a {
      display: block;
    }
  
    .news-card img.news-img {
      width: 100%;
      height: auto;
    }
    .news-card img.news-img {
      transition: all 0.5s ease-out 0s;
    }
  
    .news-card:hover {
      .card-detail h5 {
        color: lighten($uv-primary-color, 20%);
      }
  
      .card-title {
        color: lighten($text-title, 20%);
      }
  
      img.news-img {
        transform: scale(1.2);
      }
    }
  }
  
  @media only screen and (max-width: 700px) {
    .slick-list{padding:0 20% 0 0;}
  }

}

.news-slider{
  margin-left: -5px;
}

.news-slide{
  
  @media only screen and (max-width: 600px) {
    .arrow-panel{
      width: 25px;
    }
    .arrow-prev {
      top: 185px !important;
      left: 5px;
      margin-left: 0px !important;
    }
    .arrow-next {
      top: 185px !important;
      margin-right: 0px !important;
    }
  }
}



.prod-detail-slider{

  .main-slider-item{
    cursor: pointer;
    img { margin: auto; height: 300px;}
  }
  .nav-slider-item{
    cursor: pointer;
    border: 1px solid #94AA8D;
    margin-right: 5px;
    img { margin: auto; height: 130px;}
  }
  .nav-slider-item.slick-current{
    border: 1px solid #375B51;
  }

  .arrow-panel{
    position: absolute;
    cursor: pointer;
    width: 21px;
    height: 32px;
    margin: auto 0;
    background: rgba(55, 91, 81, 0.3);
    z-index: 99;

    img { width: 17px;}
  }
  .arrow-prev {
    top: 50px;
    left: 55px;
    margin-left: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrow-next {
    right: 60px;
    top: 55px;
    margin-right: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.prod-slick.promotion-slider{
  .slick-slide img{
    display: inline-flex
  }

  .arrow-prev {
    top: 78px;
    left: -7px;
  }
  
  .arrow-next {
    right: -7px;
    top: 78px;
  }
}