<div id="header-slide-indicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#header-slide-indicators"
      data-slide-to="0"
      class="carousel-indicators-round active"
    ></li>
    <li
      data-target="#header-slide-indicators"
      data-slide-to="1"
      class="carousel-indicators-round"
    ></li>
    <li
      data-target="#header-slide-indicators"
      data-slide-to="2"
      class="carousel-indicators-round"
    ></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="assets/images/Laboratory Test.png"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="assets/images/Laboratory Test.png"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="assets/images/Laboratory Test.png"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
</div>
