<div class="prod-slick">
  <div
    class="news-news"
    data-aos="fade-up"
    data-aos-once="true"
    data-aos-duration="800"
  >
    <div class="card">
      <div class="card-body">
        <a class="news-link" href="news-article.html">
          <h5 class="card-title">#WHAT ARE BIOACTIVE INGREDIENTS ANYWAY?</h5>
        </a>
        <div class="card-detail">
          <span class="icon-right">
            <img src="assets/icons/circle-right-arrow.png" alt="" />
          </span>
          <h5>Dr. Jackson</h5>
          <p>Update 22 July 2020</p>
        </div>
      </div>
      <div class="card-img">
        <a href="news-article.html">
          <img
            class="card-img-bottom news-img"
            src="assets/images/news1.png"
            alt="news1"
          />
        </a>
      </div>
    </div>
  </div>
  <div
    class="news-news"
    data-aos="fade-up"
    data-aos-once="true"
    data-aos-duration="800"
  >
    <div class="card">
      <div class="card-body">
        <a class="news-link" href="news-article.html">
          <h5 class="card-title">#WHAT ARE BIOACTIVE INGREDIENTS ANYWAY?</h5>
        </a>
        <div class="card-detail">
          <span class="icon-right">
            <img src="assets/icons/circle-right-arrow.png" alt="" />
          </span>
          <h5>Dr. Jackson</h5>
          <p>Update 22 July 2020</p>
        </div>
      </div>
      <div class="card-img">
        <a href="news-article.html">
          <img
            class="card-img-bottom news-img"
            src="assets/images/news1.png"
            alt="news1"
          />
        </a>
      </div>
    </div>
  </div>
  <div
    class="news-news"
    data-aos="fade-up"
    data-aos-once="true"
    data-aos-duration="800"
  >
    <div class="card">
      <div class="card-body">
        <a class="news-link" href="news-article.html">
          <h5 class="card-title">#WHAT ARE BIOACTIVE INGREDIENTS ANYWAY?</h5>
        </a>
        <div class="card-detail">
          <span class="icon-right">
            <img src="assets/icons/circle-right-arrow.png" alt="" />
          </span>
          <h5>Dr. Jackson</h5>
          <p>Update 22 July 2020</p>
        </div>
      </div>
      <div class="card-img">
        <a href="news-article.html">
          <img
            class="card-img-bottom news-img"
            src="assets/images/news1.png"
            alt="news1"
          />
        </a>
      </div>
    </div>
  </div>
  <div
    class="news-news"
    data-aos="fade-up"
    data-aos-once="true"
    data-aos-duration="800"
  >
    <div class="card">
      <div class="card-body">
        <a class="news-link" href="news-article.html">
          <h5 class="card-title">#WHAT ARE BIOACTIVE INGREDIENTS ANYWAY?</h5>
        </a>
        <div class="card-detail">
          <span class="icon-right">
            <img src="assets/icons/circle-right-arrow.png" alt="" />
          </span>
          <h5>Dr. Jackson</h5>
          <p>Update 22 July 2020</p>
        </div>
      </div>
      <div class="card-img">
        <a href="news-article.html">
          <img
            class="card-img-bottom news-img"
            src="assets/images/news1.png"
            alt="news1"
          />
        </a>
      </div>
    </div>
  </div>
  <div
    class="news-news"
    data-aos="fade-up"
    data-aos-once="true"
    data-aos-duration="800"
  >
    <div class="card">
      <div class="card-body">
        <a class="news-link" href="news-article.html">
          <h5 class="card-title">#WHAT ARE BIOACTIVE INGREDIENTS ANYWAY?</h5>
        </a>
        <div class="card-detail">
          <span class="icon-right">
            <img src="assets/icons/circle-right-arrow.png" alt="" />
          </span>
          <h5>Dr. Jackson</h5>
          <p>Update 22 July 2020</p>
        </div>
      </div>
      <div class="card-img">
        <a href="news-article.html">
          <img
            class="card-img-bottom news-img"
            src="assets/images/news1.png"
            alt="news1"
          />
        </a>
      </div>
    </div>
  </div>
</div>
