<!-- Desktop -->
<div
  id="newsCarousel"
  class="carousel slide desktop d-none d-sm-flex"
  data-ride="carousel"
  data-interval="0"
>
  <!-- Wrapper for carousel items -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- desktop size -->
      <div class="row d-none d-sm-flex">
        <div
          class="col-md-4 col-sm-4 col-12 news-card"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="800"
        >
          <div class="card">
            <div class="card-body">
              <a class="news-link" href="news-article.html">
                <h5 class="card-title">
                  #WHAT ARE BIOACTIVE INGREDIENTS ANYWAY?
                </h5>
              </a>
              <div class="card-detail">
                <span class="icon-right">
                  <img src="assets/icons/circle-right-arrow.png" alt="">
                </span>
                <h5>Dr. Jackson</h5>
                <p>Update 22 July 2020</p>
              </div>
            </div>
            <div class="card-img">
              <a href="news-article.html">
                <img
                  class="card-img-bottom news-img"
                  src="assets/images/news1.png"
                  alt="news1"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 col-sm-4 col-12 news-card"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="1000"
        >
          <div class="card">
            <div class="card-body">
              <a class="news-link" href="news-article.html">
                <h5 class="card-title">
                  Let me introduce you a brand new Lab glassware KIMA
                </h5>
              </a>
              <div class="card-detail">
                <span class="icon-right">
                  <img src="assets/icons/circle-right-arrow.png" alt="">
                </span>
                <h5>Mr.Kim Dea Yoon</h5>
                <p>Update 22 July 2020</p>
              </div>
            </div>
            <div class="card-img">
              <a href="news-article.html">
                <img
                  class="card-img-bottom news-img"
                  src="assets/images/news2.png"
                  alt="news1"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 col-sm-4 col-12 news-card"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="1200"
        >
          <div class="card">
            <div class="card-body">
              <a class="news-link" href="news-article.html">
                <h5 class="card-title">
                  50 Interesting, fun, and weird real-life Chemistry Facts.
                </h5>
              </a>
              <div class="card-detail">
                <span class="icon-right">
                  <img src="assets/icons/circle-right-arrow.png" alt="">
                </span>
                <h5>Mrs.Emma Grey</h5>
                <p>Update 22 July 2020</p>
              </div>
            </div>
            <div class="card-img">
              <a href="news-article.html">
                <img
                  class="card-img-bottom news-img"
                  src="assets/images/news3.png"
                  alt="news1"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <!-- desktop size -->
      <div class="row d-none d-sm-flex">
        <div
          class="col-md-4 col-sm-4 col-12 news-card"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="800"
        >
          <div class="card">
            <div class="card-body">
              <a class="news-link" href="news-article.html">
                <h5 class="card-title">
                  #WHAT ARE BIOACTIVE INGREDIENTS ANYWAY?
                </h5>
              </a>
              <div class="card-detail">
                <span class="icon-right">
                  <img src="assets/icons/circle-right-arrow.png" alt="">
                </span>
                <h5>Dr. Jackson</h5>
                <p>Update 22 July 2020</p>
              </div>
            </div>
            <div class="card-img">
              <a href="news-article.html">
                <img
                  class="card-img-bottom news-img"
                  src="assets/images/news1.png"
                  alt="news1"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 col-sm-4 col-12 news-card"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="1000"
        >
          <div class="card">
            <div class="card-body">
              <a class="news-link" href="news-article.html">
                <h5 class="card-title">
                  Let me introduce you a brand new Lab glassware KIMA
                </h5>
              </a>
              <div class="card-detail">
                <span class="icon-right">
                  <img src="assets/icons/circle-right-arrow.png" alt="">
                </span>
                <h5>Mr.Kim Dea Yoon</h5>
                <p>Update 22 July 2020</p>
              </div>
            </div>
            <div class="card-img">
              <a href="news-article.html">
                <img
                  class="card-img-bottom news-img"
                  src="assets/images/news2.png"
                  alt="news1"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 col-sm-4 col-12 news-card"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="1200"
        >
          <div class="card">
            <div class="card-body">
              <a class="news-link" href="news-article.html">
                <h5 class="card-title">
                  50 Interesting, fun, and weird real-life Chemistry Facts.
                </h5>
              </a>
              <div class="card-detail">
                <span class="icon-right">
                  <img src="assets/icons/circle-right-arrow.png" alt="">
                </span>
                <h5>Mrs.Emma Grey</h5>
                <p>Update 22 July 2020</p>
              </div>
            </div>
            <div class="card-img">
              <a href="news-article.html">
                <img
                  class="card-img-bottom news-img"
                  src="assets/images/news3.png"
                  alt="news1"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Carousel controls -->
  <a class="carousel-control-prev" href="#newsCarousel" data-slide="prev">
    <img src="assets/icons/left.png" class="left-icon">
    <!-- <i class="fa fa-angle-left"></i> -->
  </a>
  <a class="carousel-control-next" href="#newsCarousel" data-slide="next">
    <img src="assets/icons/right.png" class="right-icon">
    <!-- <i class="fa fa-angle-right"></i> -->
  </a>
</div>

<!-- Mobile -->
<div
  id="newsCarouselMobile"
  class="carousel slide mobile d-flex d-sm-none"
  data-ride="carousel"
  data-interval="0"
>
  <!-- Wrapper for carousel items -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- mobile size -->
      <div class="row d-flex d-sm-none">
        <div
          class="col-6 news-card"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="800"
        >
          <div class="card">
            <div class="card-body">
              <a class="news-link" href="news-article.html">
                <h5 class="card-title">
                  #WHAT ARE BIOACTIVE INGREDIENTS ANYWAY?
                </h5>
              </a>
              <div class="card-detail">
                <span class="icon-right">
                  <img src="assets/icons/circle-right-arrow.png" alt="">
                </span>
                <h5>Dr. Jackson</h5>
                <p>Update 22 July 2020</p>
              </div>
            </div>
            <div class="card-img">
              <a href="news-article.html">
                <img
                  class="card-img-bottom news-img"
                  src="assets/images/news1.png"
                  alt="news1"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          class="col-6 news-card"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="1000"
        >
          <div class="card">
            <div class="card-body">
              <a class="news-link" href="news-article.html">
                <h5 class="card-title">
                  Let me introduce you a brand new Lab glassware KIMA
                </h5>
              </a>
              <div class="card-detail">
                <span class="icon-right">
                  <img src="assets/icons/circle-right-arrow.png" alt="">
                </span>
                <h5>Mr.Kim Dea Yoon</h5>
                <p>Update 22 July 2020</p>
              </div>
            </div>
            <div class="card-img">
              <a href="news-article.html">
                <img
                  class="card-img-bottom news-img"
                  src="assets/images/news2.png"
                  alt="news1"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <!-- mobile size -->
      <div class="row d-flex d-sm-none">
        <div
          class="col-6 news-card"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="800"
        >
          <div class="card">
            <div class="card-body">
              <a class="news-link" href="news-article.html">
                <h5 class="card-title">
                  #WHAT ARE BIOACTIVE INGREDIENTS ANYWAY?
                </h5>
              </a>
              <div class="card-detail">
                <span class="icon-right">
                  <img src="assets/icons/circle-right-arrow.png" alt="">
                </span>
                <h5>Dr. Jackson</h5>
                <p>Update 22 July 2020</p>
              </div>
            </div>
            <div class="card-img">
              <a href="news-article.html">
                <img
                  class="card-img-bottom news-img"
                  src="assets/images/news1.png"
                  alt="news1"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          class="col-6 news-card"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="1000"
        >
          <div class="card">
            <div class="card-body">
              <a class="news-link" href="news-article.html">
                <h5 class="card-title">
                  Let me introduce you a brand new Lab glassware KIMA
                </h5>
              </a>
              <div class="card-detail">
                <span class="icon-right">
                  <img src="assets/icons/circle-right-arrow.png" alt="">
                </span>
                <h5>Mr.Kim Dea Yoon</h5>
                <p>Update 22 July 2020</p>
              </div>
            </div>
            <div class="card-img">
              <a href="news-article.html">
                <img
                  class="card-img-bottom news-img"
                  src="assets/images/news2.png"
                  alt="news1"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Carousel controls -->
  <a class="carousel-control-prev" href="#newsCarouselMobile" data-slide="prev">
    <img src="assets/icons/left.png" class="left-icon">
    <!-- <i class="fa fa-angle-left"></i> -->
  </a>
  <a class="carousel-control-next" href="#newsCarouselMobile" data-slide="next">
    <img src="assets/icons/right.png" class="right-icon">
    <!-- <i class="fa fa-angle-right"></i> -->
  </a>
</div>
