<div class="prod-slick">
  <div class="prod-prod"
      data-aos="fade-up"
      data-aos-once="true"
      data-aos-duration="800"
  >
      <div class="prod-image">
          <a href="#">
              <img class="prod-pic" src="assets/images/prod1.png" />
          </a>
      </div>
      <div class="prod-content">
          <h4>CRUCIBLE LOW FORM 10ML DIA 35MM</h4>
          <p class="item-price">230 THB</p>
      </div>
  </div>
  <div class="prod-prod"
      data-aos="fade-up"
      data-aos-once="true"
      data-aos-duration="1000"
  >
      <div class="prod-image">
          <a href="#">
              <img class="prod-pic" src="assets/images/prod2.png" />
          </a>
      </div>
      <div class="prod-content">
          <h4>CRUCIBLE LOW FORM 10ML DIA 35MM</h4>
          <p class="item-price">230 THB</p>
      </div>
  </div>
  <div class="prod-prod"
      data-aos="fade-up"
      data-aos-once="true"
      data-aos-duration="1100"
  >
      <div class="prod-image">
          <a href="#">
              <img class="prod-pic" src="assets/images/prod3.png" />
          </a>
      </div>
      <div class="prod-content">
          <h4>CRUCIBLE LOW FORM 10ML DIA 35MM</h4>
          <p class="item-price">230 THB</p>
      </div>
  </div>
  <div class="prod-prod"
      data-aos="fade-up"
      data-aos-once="true"
      data-aos-duration="800"
  >
      <div class="prod-image">
          <a href="#">
              <img class="prod-pic" src="assets/images/prod1.png" />
          </a>
      </div>
      <div class="prod-content">
          <h4>CRUCIBLE LOW FORM 10ML DIA 35MM</h4>
          <p class="item-price">230 THB</p>
      </div>
  </div>
  <div class="prod-prod"
      data-aos="fade-up"
      data-aos-once="true"
      data-aos-duration="1000"
  >
      <div class="prod-image">
          <a href="#">
              <img class="prod-pic" src="assets/images/prod2.png" />
          </a>
      </div>
      <div class="prod-content">
          <h4>CRUCIBLE LOW FORM 10ML DIA 35MM</h4>
          <p class="item-price">230 THB</p>
      </div>
  </div>
</div>