<!-- Desktop -->
<div
  id="prodCarousel"
  class="carousel slide desktop d-none d-sm-flex"
  data-ride="carousel"
  data-interval="0"
>
  <!-- Wrapper for carousel items -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- desktop size -->
      <div class="row d-none d-sm-flex"> 
        <div
          class="col-md-4 col-sm-4 col-4"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="800"
        >
          <div class="product-uv">
            <div class="product-img">
              <a href="products3.html">
                <img class="pic-prod" src="assets/images/prod1.png" />
              </a>
              <!-- <ul class="social">
                <li><a href="" class="fa fa-search"></a></li>

                <li><a href="" class="fa fa-shopping-cart"></a></li>
              </ul>
              <span class="product-new-label">New</span> -->
            </div>
            <div class="product-content">
              <h4>CRUCIBLE LOW FORM 10ML DIA 35MM</h4>
              <p class="item-price">230 THB</p>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 col-sm-4 col-4"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="1000"
        >
          <div class="product-uv">
            <div class="product-img">
              <a href="products3.html">
                <img class="pic-prod" src="assets/images/prod2.png" />
              </a>
              <!-- <ul class="social">
                <li><a href="" class="fa fa-search"></a></li>

                <li><a href="" class="fa fa-shopping-cart"></a></li>
              </ul> -->
            </div>
            <div class="product-content">
              <h4>CRUCIBLE LOW FORM 10ML DIA 35MM</h4>
              <p class="item-price">230 THB</p>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 col-sm-4 col-4"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="1200"
        >
          <div class="product-uv">
            <div class="product-img">
              <a href="products3.html">
                <img class="pic-prod" src="assets/images/prod3.png" />
              </a>
              <!-- <ul class="social">
                <li><a href="" class="fa fa-search"></a></li>
                <li><a href="" class="fa fa-shopping-cart"></a></li>
              </ul> -->
            </div>
            <div class="product-content">
              <h4>CRUCIBLE LOW FORM 10ML DIA 35MM</h4>
              <p class="item-price">230 THB</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <!-- desktop size -->
      <div class="row d-none d-sm-flex">
        <div
          class="col-md-4 col-sm-12"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="800"
        >
          <div class="product-uv">
            <div class="product-img">
              <a href="products3.html">
                <img class="pic-prod" src="assets/images/prod1.png" />
              </a>
              <!-- <ul class="social">
                <li><a href="" class="fa fa-search"></a></li>

                <li><a href="" class="fa fa-shopping-cart"></a></li>
              </ul> -->
              <span class="product-new-label">New</span>
            </div>
            <div class="product-content">
              <h4>CRUCIBLE LOW FORM 10ML DIA 35MM</h4>
              <p class="item-price">230 THB</p>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 col-sm-12"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="1000"
        >
          <div class="product-uv">
            <div class="product-img">
              <a href="products3.html">
                <img class="pic-prod" src="assets/images/prod2.png" />
              </a>
              <!-- <ul class="social">
                <li><a href="" class="fa fa-search"></a></li>

                <li><a href="" class="fa fa-shopping-cart"></a></li>
              </ul> -->
            </div>
            <div class="product-content">
              <h4>CRUCIBLE LOW FORM 10ML DIA 35MM</h4>
              <p class="item-price">230 THB</p>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 col-sm-12"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="1200"
        >
          <div class="product-uv">
            <div class="product-img">
              <a href="products3.html">
                <img class="pic-prod" src="assets/images/prod3.png" />
              </a>
              <!-- <ul class="social">
                <li><a href="" class="fa fa-search"></a></li>
                <li><a href="" class="fa fa-shopping-cart"></a></li>
              </ul> -->
            </div>
            <div class="product-content">
              <h4>CRUCIBLE LOW FORM 10ML DIA 35MM</h4>
              <p class="item-price">230 THB</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <!-- desktop size -->
      <div class="row d-none d-sm-flex">
        <div
          class="col-md-4 col-sm-12"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="800"
        >
          <div class="product-uv">
            <div class="product-img">
              <a href="products3.html">
                <img class="pic-prod" src="assets/images/prod1.png" />
              </a>
              <!-- <ul class="social">
                <li><a href="" class="fa fa-search"></a></li>

                <li><a href="" class="fa fa-shopping-cart"></a></li>
              </ul>
              <span class="product-new-label">New</span> -->
            </div>
            <div class="product-content">
              <h4>CRUCIBLE LOW FORM 10ML DIA 35MM</h4>
              <p class="item-price">230 THB</p>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 col-sm-12"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="1000"
        >
          <div class="product-uv">
            <div class="product-img">
              <a href="products3.html">
                <img class="pic-prod" src="assets/images/prod2.png" />
              </a>
              <!-- <ul class="social">
                <li><a href="" class="fa fa-search"></a></li>

                <li><a href="" class="fa fa-shopping-cart"></a></li>
              </ul> -->
            </div>
            <div class="product-content">
              <h4>CRUCIBLE LOW FORM 10ML DIA 35MM</h4>
              <p class="item-price">230 THB</p>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 col-sm-12"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="1200"
        >
          <div class="product-uv">
            <div class="product-img">
              <a href="products3.html">
                <img class="pic-prod" src="assets/images/prod3.png" />
              </a>
              <!-- <ul class="social">
                <li><a href="" class="fa fa-search"></a></li>
                <li><a href="" class="fa fa-shopping-cart"></a></li>
              </ul> -->
            </div>
            <div class="product-content">
              <h4>CRUCIBLE LOW FORM 10ML DIA 35MM</h4>
              <p class="item-price">230 THB</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Carousel controls -->
  <a class="carousel-control-prev" href="#prodCarousel" data-slide="prev">
    <img src="assets/icons/left.png" class="left-icon">
    <!-- <i class="fa fa-angle-left"></i> -->
  </a>
  <a class="carousel-control-next" href="#prodCarousel" data-slide="next">
    <img src="assets/icons/right.png" class="right-icon">
    <!-- <i class="fa fa-angle-right"></i> -->
  </a>
</div>

<!-- Mobile -->
<div
  id="prodCarouselMobile"
  class="carousel slide mobile d-flex d-sm-none"
  data-ride="carousel"
  data-interval="0"
>
  <!-- Wrapper for carousel items -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- mobile size -->
      <div class="row d-flex d-sm-none">
        <div
          class="col-6"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="800"
        >
          <div class="product-uv">
            <div class="product-img">
              <a href="products3.html">
                <img class="pic-prod" src="assets/images/prod1.png" />
              </a>
              <!-- <ul class="social">
                <li><a href="" class="fa fa-search"></a></li>

                <li><a href="" class="fa fa-shopping-cart"></a></li>
              </ul>
              <span class="product-new-label">New</span> -->
            </div>
            <div class="product-content">
              <h4>CRUCIBLE LOW FORM 10ML DIA 35MM</h4>
              <p class="item-price">230 THB</p>
            </div>
          </div>
        </div>
        <div
          class="col-6"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="1000"
        >
          <div class="product-uv">
            <div class="product-img">
              <a href="products3.html">
                <img class="pic-prod" src="assets/images/prod2.png" />
              </a>
              <!-- <ul class="social">
                <li><a href="" class="fa fa-search"></a></li>

                <li><a href="" class="fa fa-shopping-cart"></a></li>
              </ul> -->
            </div>
            <div class="product-content">
              <h4>CRUCIBLE LOW FORM 10ML DIA 35MM</h4>
              <p class="item-price">230 THB</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
       <!-- mobile size -->
       <div class="row d-flex d-sm-none">
        <div
          class="col-6"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="800"
        >
          <div class="product-uv">
            <div class="product-img">
              <a href="products3.html">
                <img class="pic-prod" src="assets/images/prod1.png" />
              </a>
              <!-- <ul class="social">
                <li><a href="" class="fa fa-search"></a></li>

                <li><a href="" class="fa fa-shopping-cart"></a></li>
              </ul>
              <span class="product-new-label">New</span> -->
            </div>
            <div class="product-content">
              <h4>CRUCIBLE LOW FORM 10ML DIA 35MM</h4>
              <p class="item-price">230 THB</p>
            </div>
          </div>
        </div>
        <div
          class="col-6"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="1000"
        >
          <div class="product-uv">
            <div class="product-img">
              <a href="products3.html">
                <img class="pic-prod" src="assets/images/prod2.png" />
              </a>
              <!-- <ul class="social">
                <li><a href="" class="fa fa-search"></a></li>

                <li><a href="" class="fa fa-shopping-cart"></a></li>
              </ul> -->
            </div>
            <div class="product-content">
              <h4>CRUCIBLE LOW FORM 10ML DIA 35MM</h4>
              <p class="item-price">230 THB</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <!-- mobile size -->
      <div class="row d-flex d-sm-none">
        <div
          class="col-6"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="800"
        >
          <div class="product-uv">
            <div class="product-img">
              <a href="products3.html">
                <img class="pic-prod" src="assets/images/prod1.png" />
              </a>
              <!-- <ul class="social">
                <li><a href="" class="fa fa-search"></a></li>

                <li><a href="" class="fa fa-shopping-cart"></a></li>
              </ul>
              <span class="product-new-label">New</span> -->
            </div>
            <div class="product-content">
              <h4>CRUCIBLE LOW FORM 10ML DIA 35MM</h4>
              <p class="item-price">230 THB</p>
            </div>
          </div>
        </div>
        <div
          class="col-6"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="1000"
        >
          <div class="product-uv">
            <div class="product-img">
              <a href="products3.html">
                <img class="pic-prod" src="assets/images/prod2.png" />
              </a>
              <!-- <ul class="social">
                <li><a href="" class="fa fa-search"></a></li>

                <li><a href="" class="fa fa-shopping-cart"></a></li>
              </ul> -->
            </div>
            <div class="product-content">
              <h4>CRUCIBLE LOW FORM 10ML DIA 35MM</h4>
              <p class="item-price">230 THB</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Carousel controls -->
  <a class="carousel-control-prev" href="#prodCarouselMobile" data-slide="prev">
    <img src="assets/icons/left.png" class="left-icon">
    <!-- <i class="fa fa-angle-left"></i> -->
  </a>
  <a class="carousel-control-next" href="#prodCarouselMobile" data-slide="next">
    <img src="assets/icons/right.png" class="right-icon">
    <!-- <i class="fa fa-angle-right"></i> -->
  </a>
</div>
