<div class="container">
  <div class="row">
    <ul class="list">
      <li><a class="p-2 text-uppercase" href="about.html">about</a></li>
      <li><a class="p-2 text-uppercase" href="products.html">products</a></li>
      <li><a class="p-2 text-uppercase" href="service.html">service</a></li>
      <li><a class="p-2 text-uppercase" href="promotion.html">promotion</a></li>
      <li><a class="p-2 text-uppercase" href="news-topics.html">news</a></li>
      <li><a class="p-2 text-uppercase" href="sale.html">sale</a></li>
      <li><a class="p-2 text-uppercase" href="contact.html">contact</a></li>
    </ul>
  </div>
  <div class="row justify-content-md-center mt-4">
    <span class="company"
      >© 2020 - U&V HOLDING THAILAND. ALL RIGHTS RESERVED.</span
    >
  </div>
</div>
