<!-- secondary-navbar not home page -->
<div class="menu2">
  <ul class="uv2-nav">
    <li><a class="anormal p-2 text-uppercase" href="about.html">about</a></li>
    <li class="list nav-item dropdown">
      <a class="anormal nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        products 
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item text-uppercase" href="products.html">products</a>
        <a class="dropdown-item text-uppercase" href="products-download.html">Download</a>
      </div>
    </li>
    <li class="list nav-item dropdown">
      <a class="anormal nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        service 
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item text-uppercase" href="service.html">Service</a>
        <a class="dropdown-item text-uppercase" href="question.html">Q&A</a>
      </div>
    </li>
    <li><a class="anormal p-2 text-uppercase" href="promotion.html">promotion</a></li>
    <li><a class="anormal p-2 text-uppercase" href="news-topics.html">news</a></li>
    <li><a class="anormal p-2 text-uppercase" href="sale.html">sale</a></li>
    <li><a class="anormal p-2 text-uppercase" href="contact.html">contact</a></li>
  </ul>
</div>


<script>
$(function() { 

});
</script>