<nav class="navbar navbar-expand fixed-top navbar-light bg-white uv-navbar">
  <div class="container">
    <section class="d-none d-md-flex">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fab fa-line"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-envelope"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text" href="login.html"> Login </a> 
        </li>
        <p class="m-0 slash">/</p>
        <li class="nav-item">
          <a class="nav-link text" href="register.html"> Register </a>
        </li>
      </ul>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="cart.html">
            <!-- <i class="fas fa-shopping-basket"></i> -->
            <img src="assets/icons/basket.png" alt="">
            <span class="ml-2 text-dark">Your Basket</span>
          </a>
        </li>
      </ul>
      <!-- search box -->
      <form class="form-group mt-2 mt-md-0 has-search text-right">
        <span class="fas fa-search icon-search"></span>
        <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search" />
      </form>
    </section>
    <section class="d-md-none">
      <!-- hambergur menu -->
      <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" />
      <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
      </label>
      <div id="sidebarMenu">
        <ul class="sidebarMenuInner">
          <li>
            <a href="login.html"><i class="fas fa-sign-in-alt mr-2"></i>Login</a>
          </li>
          <li>
            <a href="register.html"><i class="fas fa-user-edit mr-2"></i>Register</a>
          </li>
          <li>
            <a href="#"><i class="fab fa-facebook mr-2"></i>Facbook</a>
          </li>
          <li>
            <a href="#"><i class="fab fa-line mr-2"></i>Line</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-envelope mr-2"></i>E-mail</a>
          </li>
          <li>
            <a href="index.html">home</a>
          </li>
          <li>
            <a href="about.html">about</a>
          </li>
          <li>
            <a href="products.html">products</a>
          </li>
          <li>
            <a href="products-download.html">download</a>
          </li>
          <li>
            <a href="service.html">Services</a>
          </li>
          <li>
            <a href="question.html">Q&A</a>
          </li>
          <li>
            <a href="promotion.html">promotion</a>
          </li>
          <li>
            <a href="news-topics.html">news</a>
          </li>
          <li>
            <a href="sale.html">Sale</a>
          </li>
          <li>
            <a href="contact.html">contact</a>
          </li>
        </ul>
      </div>
      <ul class="nav justify-content-end d-md-none align-items-center"> 
        <li class="nav-item">
          <a class="nav-link mr-0 opensearch" >
            <i class="fas fa-search icon-search"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-0" href="cart.html">
            <i class="fas fa-shopping-basket"></i>
          </a>
        </li>
      </ul>
    </section>
  </div>
</nav>

<div id="myOverlay" class="overlay">
  <span class="closebtn closesearch" title="Close Overlay">×</span>
  <div class="overlay-content">
    <form>
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

