<div id="header-slide-indicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#header-slide-indicators"
      data-slide-to="0"
      class="carousel-indicators-round active"
    ></li>
    <li
      data-target="#header-slide-indicators"
      data-slide-to="1"
      class="carousel-indicators-round"
    ></li>
    <li
      data-target="#header-slide-indicators"
      data-slide-to="2"
      class="carousel-indicators-round"
    ></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row justify-content-center">
        <div class="col-md-2">
          <a href="products4.html">
          <img src="assets/images/brand1.png" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="col-md-2">
          <a href="products4.html">
          <img src="assets/images/brand2.png" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="col-md-2">
          <a href="products4.html">
          <img src="assets/images/brand3.png" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="col-md-2">
          <a href="products4.html">
          <img src="assets/images/brand4.png" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="col-md-2">
          <a href="products4.html">
          <img src="assets/images/brand5.png" class="d-block w-100" alt="..." /></a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row justify-content-center">
        <div class="col-md-2">
          <a href="products4.html">
          <img src="assets/images/brand1.png" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="col-md-2">
          <a href="products4.html">
          <img src="assets/images/brand2.png" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="col-md-2">
          <a href="products4.html">
          <img src="assets/images/brand3.png" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="col-md-2">
          <a href="products4.html">
          <img src="assets/images/brand4.png" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="col-md-2">
          <a href="products4.html">
          <img src="assets/images/brand5.png" class="d-block w-100" alt="..." /></a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row justify-content-center">
        <div class="col-md-2">
          <a href="products4.html">
          <img src="assets/images/brand1.png" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="col-md-2">
          <a href="products4.html">
          <img src="assets/images/brand2.png" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="col-md-2">
          <a href="products4.html">
          <img src="assets/images/brand3.png" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="col-md-2">
          <a href="products4.html">
          <img src="assets/images/brand4.png" class="d-block w-100" alt="..." /></a>
        </div>
        <div class="col-md-2">
          <a href="products4.html">
          <img src="assets/images/brand5.png" class="d-block w-100" alt="..." /></a>
        </div>
      </div>
    </div>
  </div>
</div>
