<div
  class="col-12 col-md-6"
  data-aos="fade-up"
  data-aos-once="true"
  data-aos-duration="800"
>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus porro
    quasi debitis optio odio asperiores inventore sequi, id alias nemo veniam
    ullam at voluptates perferendis magni adipisci cupiditate eius et?
  </p>
</div>
<div
  class="col-12 col-md-6"
  data-aos="fade-up"
  data-aos-once="true"
  data-aos-duration="800"
>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus porro
    quasi debitis optio odio asperiores inventore sequi, id alias nemo veniam
    ullam at voluptates perferendis magni adipisci cupiditate eius et?
  </p>
</div>
