<div class="col-12 text-center"><h3>TESTIMONIAL</h3></div>
<div
  class="col-12 col-sm-4 mb-3 mb-sm-0"
  data-aos="fade-right"
  data-aos-once="true"
  data-aos-duration="500"
>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, corporis
    deserunt, quasi iusto commodi nemo nobis animi exercitationem numquam non
  </p>
  <div class="user-author">
    <span class="user-author-element mr-3">
      <img src="assets/images/user1.png" />
    </span>
    <span class="user-author-element">
      <h6 class="author-name m-0">Sally Ramsey</h6>
      <span>Creator</span>
    </span>
  </div>
</div>
<div
  class="col-12 col-sm-4 mb-3 mb-sm-0"
  data-aos="fade-right"
  data-aos-once="true"
  data-aos-duration="700"
>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, corporis
    deserunt, quasi iusto commodi nemo nobis animi exercitationem numquam non
  </p>
  <div class="user-author">
    <span class="user-author-element mr-3">
      <img src="assets/images/user2.png" />
    </span>
    <span class="user-author-element">
      <h6 class="author-name m-0">Sally Ramsey</h6>
      <span>Creator</span>
    </span>
  </div>
</div>
<div
  class="col-12 col-sm-4 mb-3 mb-sm-0"
  data-aos="fade-right"
  data-aos-once="true"
  data-aos-duration="900"
>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, corporis
    deserunt, quasi iusto commodi nemo nobis animi exercitationem numquam non
  </p>
  <div class="user-author">
    <span class="user-author-element mr-3">
      <img src="assets/images/user1.png" />
    </span>
    <span class="user-author-element">
      <h6 class="author-name m-0">Sally Ramsey</h6>
      <span>Creator</span>
    </span>
  </div>
</div>
